{{#if estudiante}}
<!-- Modal ver mi perfil-->

<div id="ModalVerPerfilAlumno" name="ModalVerPerfilAlumno" class="card">
    <div class="modal fade verAlum" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        style="display: none;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                {{#miPerfil}}
                <div class="text-center" class="modal-header">
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row mt-4">
                        <div class="col text-center">
                            <h1>Mi <span class="small">Perfil</span></h1>
                            <p>Aqui puedes ver tu informacion personal.</p>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mt-2 ">
                            <div class="col-md-12">
                                <h4><i class="fas fa-clipboard-list mr-2"></i>Datos Generales</h4>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group text-center ">
                                        <img src="{{fotoURL}}" class="rounded-circle" width="120" />
                                        <br>
                                        <h6 class="text-muted">Foto de Perfil</h6>
                                    </div>
                                </div>
                                <div class="col-md-9 text-center">
                                    <div class="row mt-3">
                                        <div class="col-lg-6 text-center">
                                            <h6 class="text-muted">Nombres</h6>
                                            <h4>{{nombres}} {{pApellido}} {{sApellido}}</h4>
                                        </div>
                                        <div class="col-lg-6 text-center">
                                            <h6 class="text-muted">Categoría</h6>
                                            <h4>{{area}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-6 text-center">
                                            <h6 class="text-muted">Matrícula</h6>
                                            <h4>{{matricula}}</h4>
                                        </div>
                                        <div class="col-lg-6 text-center">
                                            <h6 class="text-muted">Tipo</h6>
                                            <h4>{{tipo}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-6 text-center">
                                            <h6 class="text-muted">Correo</h6>
                                            <h4>{{correo}}</h4>
                                        </div>
                                        <hr>
                                        <div class="col-lg-6 text-center">
                                            <br>
                                            <button type="button"
                                                class="btn waves-effect waves-light btn-rounded btn-success"
                                                data-toggle="..." data-target="..."><i
                                                    class="mr-2 mdi mdi-lock-open-outline"></i>Cambiar
                                                Contraseña</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-4 ">
                    <div class="col-md-12">
                        <h4><i class="fas fa-book text-left mr-2"></i>Datos referenciales</h4>
                        <hr>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 text-center">
                            <h6 class="text-muted">País de Nacimiento</h6>
                            <h4>{{paisNacimiento}}</h4>
                        </div>
                        <div class="col-md-4 text-center">
                            <h6 class="text-muted">Municipio de Nacimiento</h6>
                            <h4>{{municipioNacimiento}}</h4>
                        </div>
                        <div class="col-md-4 text-center">
                            <h6 class="text-muted">Fecha de Nacimiento</h6>
                            <h4>{{fechaNacimiento}}</h4>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-4 text-center">
                            <h6 class="text-muted">Municipio(Residencia)</h6>
                            <h4>{{municipioNacimiento}}</h4>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h6 class="text-muted">Colonia</h6>
                            <h4>{{colonia}}</h4>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h6 class="text-muted">Calle</h6>
                            <h4>{{calle}}</h4>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-6 text-center">
                            <h6 class="text-muted">Número Exterior</h6>
                            <h4>{{numeroExt}}</h4>
                        </div>
                        <div class="col-lg-6 text-center">
                            <h6 class="text-muted">Número Interior</h6>
                            <h4>{{numeroInt}}</h4>
                        </div>
                    </div>

                </div>
                <hr>
                {{/miPerfil}}
            </div>
        </div>
        <!--Fin modalbody-->
    </div>

</div>
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <!-- User Profile-->
                    <div class="user-profile d-flex no-block dropdown mt-3">
                        <div class="user-pic"><img src="../../assets/images/users/1.jpg" alt="users"
                                class="rounded-circle" width="40" /></div>
                        <div class="user-content hide-menu ml-2">
                            <!-- quiatr el a por un boton y el href-->
                            <a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h5 class="mb-0 user-name font-medium">Nombre Usuario <i class="fa fa-angle-down"></i>
                                </h5>
                                <span class="op-5 user-email">correo@ejemplo.com</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                                <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target=".verAlum"><i class="ti-user mr-1 ml-1"></i> Mi
                                    Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings mr-1 ml-1"></i>
                                    Configuración</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logOut"><i class="fa fa-power-off mr-1 ml-1"></i> Cerrar
                                    Sesión</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--
                        <li class="p-15 mt-2"><a href="javascript:void(0)" class="btn btn-block create-btn text-white no-block d-flex align-items-center"><i class="fas fa-exclamation-triangle"></i><span class="hide-menu ml-1">Soporte</span> </a></li>
                        -->
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark"
                        href="/estudiante/dashboardEstudiante" aria-expanded="false"><i
                            class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard
                        </span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark"
                        href="/estudiante/misAsignaciones" aria-expanded="false"><i
                            class="mdi mdi-inbox-arrow-down"></i><span class="hide-menu">Mis
                            Asignaciones </span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="/estudiante/soporte"
                        aria-expanded="false"><i class="mdi mdi-alert-box"></i><span
                            class="hide-menu">Soporte</span></a></li>
            </ul>
        </nav>
    </div>
</aside>
{{/if}}
{{#if ponente}}
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li>
                    <!-- User Profile-->
                    <div class="user-profile d-flex no-block dropdown mt-3">
                        <div class="user-pic"><img src="../../assets/images/users/1.jpg" alt="users"
                                class="rounded-circle" width="40" /></div>
                        <div class="user-content hide-menu ml-2">
                            <a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h5 class="mb-0 user-name font-medium">Nombre Usuario <i class="fa fa-angle-down"></i>
                                </h5>
                                <span class="op-5 user-email">correo@ejemplo.com</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                                <button class="dropdown-item" ><i class="ti-user mr-1 ml-1"></i> Mi
                                    Perfil</button>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings mr-1 ml-1"></i>
                                    Configuración</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logOut"><i class="fa fa-power-off mr-1 ml-1"></i> Cerrar
                                    Sesión</a>
                            </div>
                        </div>
                    </div>
                    <!-- End User Profile-->
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark"
                        href="/ponente/dashboardPonente" aria-expanded="false"><i
                            class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard
                        </span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="/ponente/soporte"
                        aria-expanded="false"><i class="mdi mdi-alert-box"></i><span
                            class="hide-menu">Soporte</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
{{/if}}
{{#if administrador}}
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <!-- User Profile-->
                    <div class="user-profile d-flex no-block dropdown mt-3">
                        <div class="user-pic"><img src="../../assets/images/users/1.jpg" alt="users"
                                class="rounded-circle" width="40" /></div>
                        <div class="user-content hide-menu ml-2">
                            <a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h5 class="mb-0 user-name font-medium">Nombre Usuario <i class="fa fa-angle-down"></i>
                                </h5>
                                <span class="op-5 user-email">correo@ejemplo.com</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user mr-1 ml-1"></i> Mi
                                    Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings mr-1 ml-1"></i>
                                    Configuración</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logOut"><i class="fa fa-power-off mr-1 ml-1"></i> Cerrar
                                    Sesión</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--
                        <li class="p-15 mt-2"><a href="javascript:void(0)" class="btn btn-block create-btn text-white no-block d-flex align-items-center"><i class="fas fa-exclamation-triangle"></i><span class="hide-menu ml-1">Soporte</span> </a></li>
                        -->
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark"
                        href="/administrador/dashboardAdministrador" aria-expanded="false"><i
                            class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard
                        </span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark"
                        href="/administrador/administrarCursos" aria-expanded="false"><i
                            class="mdi mdi-book-multiple"></i>
                        <span class="hide-menu"> Administrar Cursos
                        </span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark"
                        href="/administrador/administrarUsuarios" aria-expanded="false"><i
                            class="mdi mdi-account-box"></i><span class="hide-menu">Administrar Usuarios</span></a></li>
            </ul>
        </nav>
    </div>
</aside>
{{/if}}