<script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- apps -->
<script src="../../dist/js/app.min.js"></script>
{{#if administrador}}
<script src="../../dist/js/app.init.horizontal-fullwidth.js"></script>
{{else}}
<script src="../../dist/js/app.init.horizontal.js"></script>
{{/if}}
<script src="../../dist/js/app-style-switcher.horizontal.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="../../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="../../dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../../dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="../../dist/js/custom.min.js"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="../../assets/libs/chartist/dist/chartist.min.js"></script>
<script src="../../assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<!--c3 charts -->
<script src="../../assets/extra-libs/c3/d3.min.js"></script>
<script src="../../assets/extra-libs/c3/c3.min.js"></script>
<!--chartjs -->
<script src="../../assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="../../dist/js/pages/dashboards/dashboard1.js"></script>
<!--estrellas -->
<script src="../../dist/js/custom.min.js"></script>
<script src="../../assets/libs/raty-js/lib/jquery.raty.js"></script>
<script src="../../assets/extra-libs/raty/rating-init.js"></script>


{{#if graficasAdministrador}}
<script>
    var ctx = document.getElementById('GraficaMuestra');
    { {#valores } }
    var GraficaMuestra = new Chart(ctx, {
        responsive: true,
        type: 'doughnut',
        data: {
            labels: [
                'Registrados',
                'Activos',
                'Inactivos'
            ],
            datasets: [{
                data: [{{ valor1 }}, {{ valor2 }}, {{ valor3 }}],
    backgroundColor: [
        'rgba(75, 192, 192)',
        'rgb(255, 205, 86)',
        'rgba(255, 99, 132)'
    ],
        hoverOffset: 1
    }]
        },
    options: {
    }
    });
    {
        {
            /valores}}
</script>
<script>
        var ctx = document.getElementById('GraficaMuestra1');
        { {#valores } }
        var GraficaMuestra1 = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    'Registrados',
                    'Activos',
                    'Inactivos'
                ],
                datasets: [{
                    data: [{{ valor1 }}, {{ valor2 }}, {{ valor3 }}],
        backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgba(153, 102, 255, 1)'
        ],
            hoverOffset: 1
    }]
        },
    options: {
    }
    });
    {
        {
            /valores}}
</script>
<script>
        var ctx = document.getElementById('GraficaMuestra2');
        { {#valores } }
        var GraficaMuestra2 = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    'Registrados',
                    'Activos',
                    'Inactivos'
                ],
                datasets: [{
                    data: [{{ valor1 }}, {{ valor2 }}, {{ valor3 }}],
        backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgba(153, 102, 255)'
        ],
            hoverOffset: 1
    }]
        },
    options: {
    }
    });
    {
        {
            /valores}}
</script>
{{/if}}
{{#if dataTablesExport}}
<script src="../../assets/extra-libs/DataTables/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script src="../../dist/js/pages/datatable/datatable-advanced.init.js"></script>
{{/if}}
{{#if pickadate}}
<script src="../../assets/libs/pickadate/lib/compressed/legacy.js"></script>
<script src="../../assets/libs/pickadate/lib/compressed/picker.time.js"></script>
<script src="../../assets/libs/pickadate/lib/compressed/picker.date.js"></script>
<script src="../../assets/libs/pickadate/lib/compressed/picker.js"></script>
<script src="../../assets/libs/moment/moment.js"></script>
<script src="../../assets/libs/daterangepicker/daterangepicker.js"></script>
<script src="../../dist/js/pages/forms/datetimepicker/datetimepicker.init.js"></script>
{{/if}}
{{#if select2}}
<script src="../../assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="../../assets/libs/select2/dist/js/select2.min.js"></script>
<script src="../../dist/js/pages/forms/select2/select2.init.js"></script>
{{/if}}
{{#if prism}}
<script src="../../assets/extra-libs/prism/prism.js"></script>
{{/if}}

{{#if chartist}}
<script src="../../assets/libs/chartist/dist/chartist.min.js"></script>
<script src="../../assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
{{/if}}

{{#if c3}}
<script src="../../assets/extra-libs/c3/d3.min.js"></script>
<script src="../../assets/extra-libs/c3/c3.min.js"></script>
<script src="../../assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="../../dist/js/pages/dashboards/dashboard7.js"></script>
{{/if}}

{{#if dropzone}}
<script src="../../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
{{/if}}


{{#if switch}}
<script src="../../assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<script>
        $(".bt-switch input[type='checkbox'], .bt-switch input[type='radio']").bootstrapSwitch();
        var radioswitch = function () {
            var bt = function () {
                $(".radio-switch").on("switch-change", function () {
                    $(".radio-switch").bootstrapSwitch("toggleRadioState")
                }), $(".radio-switch").on("switch-change", function () {
                    $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
                }), $(".radio-switch").on("switch-change", function () {
                    $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
                })
            };
            return {
                init: function () {
                    bt()
                }
            }
        }();
        $(document).ready(function () {
            radioswitch.init()
        });
</script>
{{/if}}

{{#if dataTables}}
<script src="../../assets/extra-libs/DataTables/datatables.min.js"></script>
<script src="../../dist/js/pages/datatable/datatable-basic.init.js"></script>
{{/if}} 

{{#if general}}
<script src="../../assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<script src="../../assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script>
            //Basic Example
            $("#example-basic").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                autoFocus: true
            });

            // Basic Example with form
            var form = $("#example-form");
            form.validate({
                errorPlacement: function errorPlacement(error, element) { element.before(error); },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });
            form.children("div").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                onStepChanging: function (event, currentIndex, newIndex) {
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onFinishing: function (event, currentIndex) {
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    alert("Submitted!");
                }
            });

            // Advance Example

            var form = $("#example-advanced-form").show();

            form.steps({
                headerTag: "h3",
                bodyTag: "fieldset",
                transitionEffect: "slideLeft",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Allways allow previous action even if the current form is not valid!
                    if (currentIndex > newIndex) {
                        return true;
                    }
                    // Forbid next action on "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age-2").val()) < 18) {
                        return false;
                    }
                    // Needed in some cases if the user went back (clean up)
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        form.find(".body:eq(" + newIndex + ") label.error").remove();
                        form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
                    }
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Used to skip the "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age-2").val()) >= 18) {
                        form.steps("siguiente");
                    }
                    // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        form.steps("anterior");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    alert("Submitted!");
                }
            }).validate({
                errorPlacement: function errorPlacement(error, element) { element.before(error); },
                rules: {
                    confirm: {
                        equalTo: "#password-2"
                    }
                }
            });

            // Dynamic Manipulation
            $("#example-manipulation").steps({
                headerTag: "h3",
                bodyTag: "section",
                enableAllSteps: true,
                enablePagination: false
            });

            //Vertical Steps

            $("#example-vertical").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                stepsOrientation: "vertical"
            });

            //Custom design form example
            $(".tab-wizard").steps({
                headerTag: "h6",
                bodyTag: "section",
                transitionEffect: "fade",
                titleTemplate: '<span class="step">#index#</span> #title#',
                labels: {
                    finish: "Submit"
                },
                onFinished: function (event, currentIndex) {
                    swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");

                }
            });


            var form = $(".validation-wizard").show();

            $(".validation-wizard").steps({
                headerTag: "h6",
                bodyTag: "section",
                transitionEffect: "fade",
                titleTemplate: '<span class="step">#index#</span> #title#',
                labels: {
                    finish: "Enviar"
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    return currentIndex > newIndex || !(3 === newIndex && Number($("#age-2").val()) < 18) && (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
                },
                onFinishing: function (event, currentIndex) {
                    return form.validate().settings.ignore = ":disabled", form.submit()
                },
                onFinished: function (event, currentIndex) {
                    swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");
                }
            }), $(".validation-wizard").validate({
                ignore: "input[type=hidden]",
                errorClass: "text-danger",
                successClass: "text-info",
                highlight: function (element, errorClass) {
                    $(element).removeClass(errorClass)
                },
                unhighlight: function (element, errorClass) {
                    $(element).removeClass(errorClass)
                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element)
                },
                rules: {
                    email: {
                        email: !0
                    }
                }
            })
</script>
{{/if}}