<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header">
            <a class="nav-toggler  d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            <a class="navbar-brand" href="/validarPermisos">
                <b class="logo-icon">
                    <!-- Dark Logo icon -->
                    <img width="50px" src="../../assets/images/logo-icon.svg" alt="logoKaanbal" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="../../assets/images/logo-light-icon.png" alt="logoKaanbal" class="light-logo" />
                </b>
                <span class="logo-text">
                    <!-- dark Logo text -->
                    <img src="../../assets/images/logo-text.svg" alt="kaanbal" class="dark-logo" />
                    <!-- Light Logo text -->
                    <img src="../../assets/images/logo-light-text.png" class="light-logo" alt="kaanbal" />
                </span>
            </a>
            <a class="topbartoggler d-block d-md-none " href="javascript:void(0)" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="ti-more"></i></a>
        </div>

        {{!-- Menu estudiante --}}
        {{#if estudiante}}
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto">
            </ul>
            <ul class="navbar-nav float-right">
                <!-- Menu de navegación-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/validarPermisos">
                        <i class="fas fa-home font-20 mr-2"></i>Inicio
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/estudiante/misAsignaciones">
                        <i class="fas fa-feather font-20 mr-2"></i>Asignaciones
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/estudiante/CatalogoCursos">
                        <i class="fas fa-book-open mr-2"></i>Catálogo de Cursos
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/soporte">
                        <i class="fas fa-info font-20 mr-2"></i>Ayuda
                    </a>
                </li>
                {{#miPerfil}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted  pro-pic" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="../../assets/multimedia/usuarios/{{idUsuario}}/{{fotoURL}}" alt="user"
                            class="rounded-circle" width="31"></a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated bounceInDown">
                        <span class="with-arrow"><span class="bg-dark"></span></span>
                        <div class="d-flex no-block align-items-center p-15 bg-dark text-white m-b-10">
                            <div class=""><img src="../../assets/multimedia/usuarios/{{idUsuario}}/{{fotoURL}}" alt="user" class="img-circle" width="60"></div>
                            <div class="m-l-10">
                                <h4 class="m-b-0">{{nombres}} {{pApellido}} {{sApellido}}</h4>
                                <p class="m-b-0">{{correo}}</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/miPerfil"><i class="ti-user m-r-5 m-l-5"></i>
                            Mi Perfil</a>
                        {{!-- <a class="dropdown-item" href="#"><i class="ti-settings m-r-5 m-l-5"></i>
                            Configuración</a> --}}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logOut"><i class="fa fa-power-off m-r-5 m-l-5"></i> Cerrar
                            Sesión</a>
                    </div>
                </li>
                {{/miPerfil}}
            </ul>
        </div>
        {{/if}}
        {{!-- Menu ponente --}}
        {{#if ponente}}
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto">
            </ul>
            <ul class="navbar-nav float-right">
                <!-- Menu de navegación-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="/validarPermisos">
                        <i class="fas fa-home font-20 mr-2"></i>Inicio
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="/ponente/consultarCursos">
                        <i class="fas fa-stream font-20 mr-2"></i>Mis Cursos
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="/soporte">
                        <i class="fas fa-info font-20 mr-2"></i>Ayuda
                    </a>
                </li>
                {{#miPerfil}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pro-pic" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="../../assets/multimedia/usuarios/{{idUsuario}}/{{fotoURL}}" alt="user"
                            class="rounded-circle" width="31"></a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated bounceInDown">
                        <span class="with-arrow"><span class="bg-dark"></span></span>
                        <div class="d-flex no-block align-items-center p-15 bg-dark text-white m-b-10">
                            <div class=""><img src="../../assets/multimedia/usuarios/{{idUsuario}}/{{fotoURL}}" alt="user" class="img-circle"
                                    width="60"></div>
                            <div class="m-l-10">
                                <h4 class="m-b-0">{{nombres}} {{pApellido}} {{sApellido}}</h4>
                                <p class="m-b-0">{{correo}}</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/miPerfil"><i class="ti-user m-r-5 m-l-5"></i>
                            Mi Perfil</a>
                        {{!-- <a class="dropdown-item" href="#"><i class="ti-settings m-r-5 m-l-5"></i>
                            Configuración</a> --}}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logOut"><i class="fa fa-power-off m-r-5 m-l-5"></i> Cerrar
                            Sesión</a>
                    </div>
                </li>
                {{/miPerfil}}
            </ul>
        </div>
        {{/if}}
        {{!-- Menu administrador --}}
        {{#if administrador}}
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto">
            </ul>
            <ul class="navbar-nav float-right">
                <!-- Menu de navegación-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/validarPermisos">
                        <i class="fas fa-home font-20 mr-2"></i>Inicio
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/administrador/administrarCursos">
                        <i class="fas fa-book font-20 mr-2"></i>Cursos
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/administrador/administrarUsuarios">
                        <i class="fas fa-users-cog font-20 mr-2"></i>Usuarios
                    </a>
                </li>
                {{#miPerfil}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted  pro-pic" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="../../assets/multimedia/usuarios/{{idUsuario}}/{{fotoURL}}" alt="user"
                            class="rounded-circle" width="31"></a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated bounceInDown">
                        <span class="with-arrow"><span class="bg-dark"></span></span>
                        <div class="d-flex no-block align-items-center p-15 bg-dark text-white m-b-10">
                            <div class=""><img src="../../assets/multimedia/usuarios/{{idUsuario}}/{{fotoURL}}" alt="user" class="img-circle" width="60"></div>
                            <div class="m-l-10">
                                <h4 class="m-b-0">{{nombres}} {{pApellido}} {{sApellido}}</h4>
                                <p class="m-b-0">{{correo}}</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/miPerfil"><i class="ti-user m-r-5 m-l-5"></i>
                            Mi Perfil</a>
                        {{!-- <a class="dropdown-item" href="#"><i class="ti-settings m-r-5 m-l-5"></i>
                            Configuración</a> --}}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logOut"><i class="fa fa-power-off m-r-5 m-l-5"></i> Cerrar
                            Sesión</a>
                    </div>
                </li>
                {{/miPerfil}}
            </ul>
        </div>
        {{/if}}
    </nav>
</header>