<div class="row" style="background-color: rgb(230, 230, 230);"> 
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card" style="border-radius: 10px; box-shadow: 2px 2px 5px rgba(197, 187, 197, 0.808) ">
            <div class="card-body">
                <h1 class="font-medium mb-3 text-center">Registrate</h1>
                <form class="form-horizontal mt-3" action="index.html">
                    <h3 class="font-medium mb-3">Gatos Generales</h3> <hr>
                    <div class="form-group row ">
                        <div class="col-sm-12 col-md-3 col-lg-4 mb-3">
                            <label> Nombre(s)</label>
                            <input class="form-control form-control-lg" type="text" required=" " 
                                placeholder="Ingrese el nombre(s) del usuario" alt="Nombre del Ponente"
                                minlength="1" maxlength="40" pattern="[A-Za-zàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð]"
                                name="usuarioNombres" id="usuarioNombres">
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 mb-3">
                            <label> Primer Apellido</label>
                            <input class="form-control form-control-lg" type="text" required=" "
                                placeholder="Ingrese el primer apellido" alt="Primer apellido del usuario"
                                minlength="1" maxlength="40" pattern="[A-Za-zàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð]"
                                name="usuarioPApellido" id="usuarioPApellido">
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 mb-3">
                            <label>Segundo Apellido</label>
                            <input class="form-control form-control-lg" type="text" required=" "
                                placeholder="Ingrese el segundo apellido" alt="Segundo apellido del usuario"
                                minlength="1" maxlength="40" pattern="[A-Za-zàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð]"
                                name="usuarioSApellido" id="usuarioSApellido">
                        </div>
                    </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                                <label>Pais de nacimiento</label>
                                <select class="select2 form-control custom-select" id="paisNombre" name="paisNombre"
                                    style="width: 100%; height:36px;">
                                    <option  selected>Selecione su país de nacimiento</option>
                                    {{#each paises}}
                                    <option value="{{idPais}}">{{nombrePais}}</option>
                                    {{/each}}
                                </select>
                            </div>


                         <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                            <label>Municipio de nacimiento</label>
                            <select class="select2 form-control custom-select" id="municipioNacimientoNombre" name="municipioNacimientoNombre"
                                style="width: 100%; height:36px;">
                                <option  selected>Selecione su municipio de nacimiento</option>
                                {{#each municipios}}
                                <option value="{{idMunicipio}}">{{nombreMunicipio}}</option>
                                {{/each}}
                            </select>
                        </div>


                        <div class="col-sm-6 col-md-3 col-lg-3 mb-3">
                            <label>Fecha de nacimiento</label>
                            <input type="date" alt="Fecha de nacimiento del usuario" class="form-control" id="usuarioFechaNacimiento"
                                name="usuarioFechaNacimiento">
                        </div>
                        <div class="col-sm-6 col-md-1 col-lg-1 mb-3">
                            <label>Edad</label>
                            <h5 class="font-medium  ml-2">21</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
                            <label>Correo</label>
                            <input class="form-control form-control-lg" type="email" required=" "
                                placeholder="Ingrese su correo" alt="Correo del usuario" id="usuarioCorreo" name="usuarioCorreo">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label>Contraseña</label>
                            <input class="form-control form-control-lg" type="password" required=" "
                                placeholder="Elige un contraseña" alt="Elige una contraseña" id="usuarioPassword" name="usuarioPassword">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label>Confirmar contraseña</label>
                            <input class="form-control form-control-lg" type="password" required=" "
                                placeholder="Confirma tu contraseña" alt="Confirma tu contraseña" id="usuarioPassword" name="usuarioPassword">
                        </div>
                    </div>
                    <h3 class="font-medium mb-3">Domicilio</h3> <hr>
                    <div class="form-group row">
                        

                            <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                                <label>Estado de recidencia</label>
                                <select class="select2 form-control custom-select" id="estadoNombre" name="estadoNombre"
                                    style="width: 100%; height:36px;">
                                    <option  selected>Selecione su estado de recidencia</option>
                                    {{#each estados}}
                                    <option value="{{idEstado}}">{{nombreEstado}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        
                            <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                                <label>Municipio de residencia</label>
                                <select class="select2 form-control custom-select" id="municipioNombre" name="municipioNombre"
                                    style="width: 100%; height:36px;">
                                    <option  selected>Selecione su municipio de recidencia</option>
                                    {{#each municipios}}
                                    <option value="{{idMunicipio}}">{{nombreMunicipio}}</option>
                                    {{/each}}
                                </select>
                            </div>


                        
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                            <label>Colonia de residencia</label>
                            <input class="form-control form-control-lg" type="text" required=" "
                                minlength="1" maxlength="40" pattern="[A-Za-zàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð]"
                                placeholder="Ingresa la colonia de tu domicilio" id="domicilioColonia" name="domicilioColonia">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                            <label>Calle</label>
                            <input class="form-control form-control-lg" type="text" required=" " placeholder="Ingresa la calle de tu domicilio"
                                minlength="1" maxlength="40" pattern="[A-Za-zàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð]"                                    
                                id="domicilioCalle" name="domicilioCalle">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label>Numero Interior</label>
                            <input class="form-control form-control-lg" type="number" required=" "
                                placeholder="Ingresa el numero interior de tu domicilio" id="domicilioNumeroInt" name="domicilioNumeroInt">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label>Numero Exterior</label>
                            <input class="form-control form-control-lg" type="number" required=" "
                                placeholder="Ingresa el numero exterior de tu domicilio" id="domicilioNumeroExt" name="domicilioNumeroExt">
                        </div>
                    </div>
                    <h3 class="font-medium mb-3">Datos Laborales</h3> <hr>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-6 col-lg-5 mb-3">
                            <label>Matricula</label>
                            <input class="form-control form-control-lg" type="text" required=" "
                                placeholder="Ingresa tu matricula" id="usuarioMatricula" name="usuarioMatricula">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <label>Antigüedad</label>
                            <input class="form-control form-control-lg" type="number" required=" "
                                placeholder="Ingresa tu antigüedad en años" id="usuarioAntiguedad" name="usuarioAntiguedad">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label>Puesto</label>
                            <span
                                class="select2 select2-container select2-container--default select2-container--below select2-container--focus"
                                dir="ltr" data-select2-id="2" style="width: 100%;" id="usuarioPuesto"
                                name="usuarioPuesto">
                                <span class="selection">
                                    <span class="select2-selection select2-selection--single" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                                        aria-labelledby="select2-ncb3-container">
                                        <span class="select2-selection__rendered" id="select2-ncb3-container"
                                            role="textbox" aria-readonly="true" title="Alaska">Alaska</span>
                                        <span class="select2-selection__arrow" role="presentation">
                                            <option disabled selected>Elige el puesto que te corresponde</option>
                                            <b role="presentation"></b>
                                        </span>
                                    </span>
                                </span>
                                <span class="dropdown-wrapper" aria-hidden="true"></span>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label>Area</label>
                            <span class="select2 select2-container select2-container--default" dir="ltr"
                                data-select2-id="5" style="width: 100%;" id="usuarioArea" name="usuarioArea">
                                <span class="selection">
                                    <span class="select2-selection select2-selection--single" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                                        aria-labelledby="select2-nsg6-container">
                                        <span class="select2-selection__rendered" id="select2-nsg6-container"
                                            role="textbox" aria-readonly="true" title="Alaska">Alaska</span>
                                        <span class="select2-selection__arrow" role="presentation">
                                            <option disabled selected>Elige el area que te corresponde</option>
                                            <b role="presentation"></b>
                                        </span>
                                    </span>
                                </span>
                                <span class="dropdown-wrapper" aria-hidden="true"></span>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3 text-center ">
                            <label>Subir foto de perfil</label>
                            <br>
                            <button type="file"
                                class="btn waves-effect waves-light btn-rounded btn-dark">SUBIR</button>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3 text-center">
                            <label>Subir tarjeton</label>
                            <br>
                            <button type="button"
                                class="btn waves-effect waves-light btn-rounded btn-dark">SUBIR</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mt-3 text-center">
                            <button class="btn btn-lg btn-info " type="submit ">Registrarse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>