<div class="container-fluid">
    <div class="row">
        <!--primera columna-->
        <div class="col-md-12">
            <div class="card" style="border-radius: 10px">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="card-title"><i class="fas fa-user-graduate mr-2" aria-hidden="true"></i>Mis Reconocimientos <span class="small"> Nombre Completo del Ponente</span></h3>
                    <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered" style="font-size: small;">
                                    <thead>
                                        <tr>
                                            <th>Nombre del Curso</th>
                                            <th>Modalidad</th>
                                            <th>Fecha Curso</th>
                                            <th>Horario Curso</th>
                                            <th>Inscripciones</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each catalogoCursosEstudiante}}
                                        <tr>
                                            <td>{{nombreCurso}}</td>
                                            <td>{{modalidadCurso}}</td>
                                            <td>{{fechaInicioCurso}} - {{fechaFinCurso}}</td>
                                            <td>{{horarioInicioCurso}} - {{horarioFinCurso}}</td>
                                            <td>
                                            {{#if estadoInscripciones}}
                                                <span class="mb-3 label bg-info mr-2">Abiertas</span>
                                            {{else}}
                                                <span class="mb-3 label bg-dark mr-2">Cerradas</span>
                                            {{/if}}
                                            </td>
                                            <td>
                                            {{#if estadoEstudianteCurso}}
                                                {{#ifEquals estadoEstudianteCurso "Cursando"}}
                                                <span class="mb-3 label bg-primary mr-2">Cursando</span>
                                                {{/ifEquals}}
                                                {{#ifEquals estadoEstudianteCurso "Aprobado"}}
                                                <span class="mb-3 label bg-success mr-2">Aprobado</span>
                                                {{/ifEquals}}
                                                {{#ifEquals estadoEstudianteCurso "Reprobado"}}
                                                <span class="mb-3 label bg-danger mr-2">Reprobado</span>
                                                {{/ifEquals}}
                                            {{else}}
                                                N/A
                                            {{/if}}
                                            </td>
                                            <td>
                                                <a href="/estudiante/curso/{{idCurso}}" class="btn waves-effect waves-light btn-rounded btn-sm btn-success small">
                                                    <i class="fas fa-external-link-alt mr-1"></i>Consultar</a> 
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    <tfoot>
                                        <th>Nombre del Curso</th>
                                        <th>Modalidad</th>
                                        <th>Fecha Curso</th>
                                        <th>Horario Curso</th>
                                        <th>Inscritos</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>