<div class="container-fluid">
    <div class="row">
        <!--primer columna-->
        <div class="col-md-3">
            <div class="card" style="border-radius: 6px">
                <div class="ml-3 mt-3 p-1">
                    <h3 class="card-title p-0"><i class="fas fa-scroll mr-2"></i>Datos Generales</h3>
                </div>
                <div class="card-body ml-4 p-1">
                    {{#datosGeneralesPonente}}
                    {{#if cursosImpartidos}}
                    <p class="box mb-0 p-0"><i class="fas fa-book mr-2"></i>Cursos Impartidos: ({{cursosImpartidos}})</p>
                    {{else}}
                    <p class="box mb-0 p-0"><i class="fas fa-book mr-2"></i>Cursos Impartidos: (0)</p>
                    {{/if}}
                    {{#if cursosActuales}}
                    <p class="box mb-0 p-0"><i class="fab fa-leanpub mr-2"></i>Cursos Actuales: ({{cursosActuales}})</p>
                    {{else}}
                    <p class="box mb-0 p-0"><i class="fab fa-leanpub mr-2"></i>Cursos Actuales: (0)</p>
                    {{/if}}
                    {{#if alumnosActuales}}
                    <p class="box mb-0 p-0"><i class="fas fa-users mr-2"></i>Alumnos Actuales: ({{alumnosActuales}})</p>
                    {{else}}
                    <p class="box mb-0 p-0"><i class="fas fa-users mr-2"></i>Alumnos Actuales: (0)</p>
                    {{/if}}
                    {{#if alumnosAlcanzados}}
                    <p class="box mb-0 p-0 mb-3"><i class="fas fa-graduation-cap mr-2"></i>Alumnos Alcanzados: ({{alumnosAlcanzados}})</p>
                    {{else}}
                    <p class="box mb-0 p-0 mb-3"><i class="fas fa-graduation-cap mr-2"></i>Alumnos Alcanzados: (0)</p>
                    {{/if}}
                    {{/datosGeneralesPonente}}
                </div>
            </div>
            <div class="card" style="border-radius: 6px">
                <div class="mt-3 ml-3 p-1">
                    <h3><i class="fas fa-swatchbook mr-2"></i>Cursos Activos</h3>
                </div>
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        {{#each nombresCursosActualesPonente}}
                        <li class="sidebar-item">
                            <a class="sidebar-link d-inline-block text-truncate" 
                                style="max-width: 230px; color: rgb(62, 85, 105);" href="/ponente/curso/{{idCurso}}">
                                <i class="fas fa-chalkboard-teacher mr-2" style="color: rgb(62, 85, 105);"></i>
                                <span class="hide-menu">{{nombreCurso}}</span>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </nav> 
                <hr>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="/ponente/consultarCursos" class="btn waves-effect waves-light btn-success mb-4"> 
                            <i class="fas fa-th mr-2"></i>Todos mis cursos</a>
                    </div>
                </div>
            </div>
            
        </div>
        <!--centro o contenido-->
        <div class="col-md-6">

            <div class="card" style="border-radius: 6px">
                <ul class="nav nav-tabs mt-2 ml-2 mr-2" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" style="color: rgb(62, 85, 105);" data-toggle="tab" href="#aviso"
                            role="tab"><span class="hidden-sm-up"><i class="ti-comment-alt"></i></span>
                            <span class="hidden-xs-down">Aviso</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" style="color: rgb(62, 85, 105);" data-toggle="tab" href="#asignacion"
                            role="tab"><span class="hidden-sm-up"><i class="ti-pencil-alt"></i></span> <span
                                class="hidden-xs-down">Asignación</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" style="color: rgb(62, 85, 105);" data-toggle="tab" href="#examen"
                            role="tab"><span class="hidden-sm-up"><i class="ti-write"></i></span> <span
                                class="hidden-xs-down">Examen</span></a> </li>
                </ul>
                <div class="tab-content tabcontent-border">
                    <div class="tab-pane p-20 active" id="aviso" role="tabpanel">
                        <form class="form-valide" method="POST" action="/ponente/AgregarAviso">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <select
                                        class="select2 form-control custom-select select2-hidden-accessible"
                                        style="width: 100%; height:36px;" data-select2-id="1" tabindex="-1"
                                        aria-hidden="true" name="idCurso" required>
                                        {{#each nombresCursosActualesPonente}}
                                        <option value="{{idCurso}}" selected>{{nombreCurso}}</option>
                                        {{/each}}
                                    </select>
                                    <input type="text" class="form-control mt-3" name="asuntoAviso"
                                        placeholder="Asunto del aviso" required>
                                    <small class="form-control-feedback ml-1"> Maximo 255 caracteres</small>
                                    <textarea class="form-control mt-2" rows="3" name="descripcionAviso"
                                        placeholder="Descripción del aviso..."></textarea>
                                </div>
                                <div class="col-md-12 text-right mt-3">
                                    <button class="btn btn-info waves-effect" type="submit"><i
                                            class="fas fa-bullhorn mr-2"></i>Publicar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane  p-20" id="asignacion" role="tabpanel">
                        <form action="/ponente/AgregarTarea" method="POST" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <select
                                        class="select2 form-control custom-select select2-hidden-accessible"
                                        style="width: 100%; height:36px;" data-select2-id="1" tabindex="-1"
                                        aria-hidden="true" name="idCurso" required>
                                        {{#each nombresCursosActualesPonente}}
                                        <option value="{{idCurso}}" selected>{{nombreCurso}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" name="nombreTarea" class="form-control mt-3"
                                        placeholder="Titulo de la tarea" autocomplete="off" required>
                                    <small class="form-control-feedback ml-1"> Máximo 70 caracteres </small>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control mt-2" name="descripcionTarea" rows="3"
                                        placeholder="Descripción de la tarea..." autocomplete="off" required></textarea>
                                    <small class="form-control-feedback ml-1"> Máximo 300 caracteres
                                    </small>
                                </div>
                                {{#fechaActual}}
                                <div class="col-md-6">
                                    <h6 class="ml-1 p-0 mt-3 font-weight-normal">Fecha de límite<span
                                        class="text-danger">*</span></h6>
                                    <input type="date" name="fechaLimiteTarea" class="form-control"
                                        value="{{fechaActual}}" required>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="ml-1 p-0 mt-3 font-weight-normal">Hora límite<span
                                            class="text-danger">*</span></h6>
                                    <input type="time" name="horaLimiteTarea" class="form-control"
                                        value="{{horaSiguiente}}" required>
                                </div>
                                {{/fechaActual}}
                                <div class="col-md-6">
                                    <h6 class="ml-1 p-0 mt-3 font-weight-normal">¿La tarea puede ser
                                        entragada despues de la fecha
                                        y hora límite?</h6>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="atemporalCurso"
                                            class="custom-control-input" value="1" checked>
                                        <label class="custom-control-label" for="customRadio1">Si.</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="atemporalCurso"
                                            class="custom-control-input" value="0">
                                        <label class="custom-control-label" for="customRadio2">No.</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="ml-1 p-0 mt-3 font-weight-normal">Archivos<span
                                        class="text-danger">*</span></h6>
                                    <input type="file" name="multimediaTarea" multiple/>
                                </div>
                                <div class="col-md-12 text-right mt-2">
                                    <button class="btn btn-info waves-effect" type="submit"><i
                                        class="fas fa-bullhorn mr-2"></i>Publicar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane p-20" id="examen" role="tabpanel">
                        <form method="POST" action="/ponente/AgregarExamen">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <select
                                        class="select2 form-control custom-select select2-hidden-accessible"
                                        style="width: 100%; height:36px;" data-select2-id="1" tabindex="-1"
                                        aria-hidden="true" name="idCurso" required>
                                        {{#each nombresCursosActualesPonente}}
                                        <option value="{{idCurso}}" selected>{{nombreCurso}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" name="nombreExamen" class="form-control mt-3"
                                        placeholder="Título del examen" autocomplete="off" required>
                                    <small class="form-control-feedback ml-1">
                                        Maximo 255 caracteres
                                    </small>
                                </div>
                                <div class="col-md-12">
                                    <input type="url" name="linkExamen" class="form-control mt-2"
                                        placeholder="Enlace del examen" autocomplete="off" required>
                                </div>
                                {{#fechaActual}}
                                <div class="col-md-6">
                                    <h6 class="ml-1 p-0 mt-3 font-weight-normal">
                                        Fecha de aplicación<span class="text-danger">*</span>
                                    </h6>
                                    <input type="date" name="fechaAplicacionExamen"
                                        class="form-control" value="{{fechaActual}}" required>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="ml-1 p-0 mt-3 font-weight-normal">
                                        Hora de aplicación<span class="text-danger">*</span>
                                    </h6>
                                    <input type="time" name="horaAplicacionExamen"
                                        class="form-control" value="{{horaSiguiente}}" required>
                                </div>
                                {{/fechaActual}}
                                <div class="col-md-12 text-right mt-3">
                                    <button class="btn btn-info waves-effect" type="submit"><i
                                            class="fas fa-bullhorn mr-2"></i>Publicar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{#proximoCurso}}
            <div class="card card-hover mt-3 text-white" style="background: rgb(65, 71, 85); border-radius: 6px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <!--FALTAAGREGAR <img class="card-img img-responsive" style="border-radius: 8px;" src="../../assets/multimedia/cursos/{{idCurso}}/{{fotoCurso}}" alt="Imgagen siguiente curso">-->
                            <img class="card-img img-responsive" style="border-radius: 8px;" src="../../assets/images/cursoImg1.JPG" alt="Imgagen siguiente curso">
                        </div>
                        <div class="col-md-8">
                            <h5 class="mb-0 font-16">{{nombreCurso}}</h5>
                            <h6 class="font-light ml-2 p-1">
                                <i class="fas fa-clock" aria-hidden="true"></i> {{horaInicio}} - {{horaFin}}
                                <i class="fas fa-users ml-2 mr-2" aria-hidden="true"></i>{{totalEstudiantesCurso}}
                            </h6>
                            <span class="small">
                                {{#if plataformaCurso}}
                                <a href="{{plataformaCurso}}" class="btn  btn-rounded btn-sm btn-success small">
                                    <i class="fas fa-external-link-alt mr-1"></i>Ir a la plataforma </a>
                                {{/if}}
                                <a href="/ponente/curso/{{idCurso}}" class="btn  btn-rounded btn-sm btn-success small">
                                    <i class="fas fa-external-link-alt mr-1"></i>Ir al Curso </a>   
                            </span>
                        </div>
                        
                    </div>
                </div>
                <div class="card-footer text-center">
                    <div class="col-md-12 text-center">
                        <h6 class="ml-2 mr-2 mt-2">
                            <i class="fas fa-briefcase mr-1"> </i> Area: <span class="small mr-2">{{area}}</span>
                            <i class="far fa-circle mr-1"></i> Tipo: <span class="small mr-2">{{tipo}}</span>
                            <i class="fas fa-video mr-1"></i> Modalidad: <span class="small mr-2">{{modalidad}}</span>
                        </h6>
                    </div>
                </div>
            </div>
            {{/proximoCurso}}
            <div class="row text-center d-flex">
                <div class="col-md-4">
                    <hr>
                </div>
                <div class="col-md-4 text-center ">
                    <p>Asignaciones Pendientes</p>
                </div>
                <div class="col-md-4">
                    <hr>
                </div>
            </div>
            {{#each asignacionesPendientes}}
            <div class="card card-hover mt-3" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5><i class="fas fa-bookmark mr-2"></i>{{nombreTarea}}
                            </h5>
                        </div>
                        <div class="col-md-4 text-right">
                            <span class="mb-3 label  bg-dark mr-2">Cerrada</span>
                            <span class="small">
                                <a href="/ponente/CalificarTarea/{{idTarea}}" class="btn  btn-rounded btn-sm btn-warning small">
                                <i class="fas fa-check-double mr-2" aria-hidden="true"></i>Calificar
                            </a></span>
                        </div>
                        <div class="col-12">
                            <h4 class="ml-2"><span class="small">{{nombreCurso}}</span></h4>
                            <p class="ml-3 text-truncate">{{descripcionTarea}}</p>
                        </div>
                        <div class="col-8">
                            <h5 class="font-light float-left">Fecha Límite: <i
                                    class="fas fa-calendar-alt ml-1"></i>{{fechaLimiteTarea}}<i
                                    class="fas fa-clock ml-1"></i>{{horaLimiteTarea}}</h5>
                        </div>
                        <div class="col-4 text-right">
                            <h5 class="font-light"> Entregas: <i class="fas fa-users mr-2"></i>{{entregasTarea}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-md-3">
            <!--Tercera columna-->
            <div class="card text-center" style="border-radius: 6px">
                <div class="card-body">
                <img class="card-img-top img-responsive" height="100px" src="../../assets/images/logoBienvenida.svg" alt="Card image cap">
                <h3>!Volviste <span class="small">{{#miPerfil}}{{nombres}}{{/miPerfil}}</span>!</h3>
                <p>En esta ventana encontrarás todo lo relacionado a tu cuenta como ponente.</p>
                </div>
            </div>

            <div class="card text-center" style="border-radius: 6px">
                <div class="card-body">
                    <h3>¿Tienes un problema?</h3>
                    <p>Háznoslo saber a través de: </p>
                    <a href="/soporte" class="btn  btn-block btn-danger"><i class="fas fa-exclamation-triangle mr-2"></i>Soporte</a>
                </div>
            </div>
        </div>
    </div>
</div>