<div class="container-fluid">
    <!--Escenario 2 - Alumno inscrito -->
    <div class="row">
        <!--Modales-->
        <!--Perfil Ponente visto por Alumno/Usuario-->
        <div id="verPerfilPonente" class="modal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!--Contenido-->
                    <div class="modal-body">
                        <div class="text-center" class="modal-header">
                            <div class="row">
                                <div class="col text-right">
                                    <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                            </div>
                            <!--Titulo-->
                            <div class="row">
                                <div class="modal-title col text-center">
                                    <h3>Perfil Ponente<span class="small"></span></h3>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <center> <img src="../../assets/images/users/1.jpg" class="rounded-circle"
                                        width="150" />
                                    <h6 class="text-muted">Foto Perfil</h6>
                                </center>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4><i class="fas fa-clipboard-list mr-2"></i>Datos Generales</h4>
                                        <hr>
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <h6 class="text-muted">Nombres</h6>
                                        <h4>Jose Luis Dominguez</h4>
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <h6 class="text-muted">Puesto</h6>
                                        <h4>Doc. Ciencias Humanas</h4>
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <h6 class="text-muted">Categoría</h6>
                                        <h4>Humanidades</h4>
                                    </div>
                                </div>
                                <div class="row mt-4 mb-4">
                                    <div class="col-lg-4 text-center">
                                        <h6 class="text-muted">Matrícula</h6>
                                        <h4>E2545441</h4>
                                    </div>
                                    <div class="col-lg-8 text-center">
                                        <h6 class="text-muted">Correo</h6>
                                        <h4>correonoexiste@gmail.com</h4>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tareaEntregada" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col text-center">
                            <h1>Tarea de ejemplo número 1</h1>
                            <p>Descripción: Lorem ipsum dolor sit amet consectetur adipiscing elit interdum mattis
                                lacus, ut placerat at suspendisse eleifend ridiculus egestas curae rutrum consequat
                                aptent, diam a lectus gravida ligula leo pharetra libero tellus.</p>
                        </div>
                        <hr>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex align-items-center">
                                    <div class="mr-2"><span class="text-primary display-5"><i
                                                class="mdi mdi-link-variant"></i></span></div>
                                    <div>
                                        <span>Archivo</span>
                                        <h4 class="font-medium mb-0"><a href="#">Nombre del archivo entregado.pdf</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tareaPendiente" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col text-center">
                            <h1>Tarea de ejemplo número 1</h1>
                            <p>Descripción: Lorem ipsum dolor sit amet consectetur adipiscing elit interdum mattis
                                lacus, ut placerat at suspendisse eleifend ridiculus egestas curae rutrum consequat
                                aptent, diam a lectus gravida ligula leo pharetra libero tellus.</p>
                        </div>
                        <hr>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <h4 class="card-title">Archivos</h4>
                            <form action="#" class="dropzone dz-clickable">
                                <div class="dz-default dz-message">
                                    <span>Arrastra tus archivos o haz clic aquí.</span>
                                </div>
                            </form>
                            <div class="form-group mt-1 text-right">
                                <button type="button" class="btn waves-effect waves-light btn-success mt-2"><i
                                        class="fas fa-save mr-2"></i>Entregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tareaAtrasada" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col text-center">
                            <h1>Tarea de ejemplo número 1</h1>
                            <p>Descripción: Lorem ipsum dolor sit amet consectetur adipiscing elit interdum mattis
                                lacus, ut placerat at suspendisse eleifend ridiculus egestas curae rutrum consequat
                                aptent, diam a lectus gravida ligula leo pharetra libero tellus.</p>
                        </div>
                        <hr>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <h4 class="card-title">Archivos</h4>
                            <form action="#" class="dropzone dz-clickable">
                                <div class="dz-default dz-message">
                                    <span>Arrastra tus archivos o haz clic aquí.</span>
                                </div>
                            </form>
                            <p class="text-danger text-center">Esta tarea esta marcada como atrasada, por lo cual se
                                podrá entregar, pero estara marcada que fue despues de la hora y fecha límite.</p>
                            <div class="form-group text-right">
                                <button type="button" class="btn waves-effect waves-light btn-success"><i
                                        class="fas fa-save mr-2"></i>Entregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tareaNoEntregada" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col text-center">
                            <h1>Tarea de ejemplo número 1</h1>
                            <p>Descripción: Lorem ipsum dolor sit amet consectetur adipiscing elit interdum mattis
                                lacus, ut placerat at suspendisse eleifend ridiculus egestas curae rutrum consequat
                                aptent, diam a lectus gravida ligula leo pharetra libero tellus.</p>
                        </div>
                        <hr>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <!-- Reportar un Problema -->
        <div id="reportarProblema" class="modal">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div class="modal-header ">
                        <h3 class="modal-title text-center " id="myModalLabel">Reportar problema</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="card-body">
                        <form action="../../ponente/reportarProblemaCurso" method="post">
                            <input id="idCurso" value='req.params.idCurso' hidden>
                            <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                                <h4>Asunto del problema </h4>
                                <input class="form-control form-control-lg font-14" type="text" required=" "
                                    placeholder="Escribe el asunto del problema" alt="Asunto del problema"
                                    id="asuntoProblema" name="asuntoProblema">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                                <h4>Descripcion</h4>
                                <textarea class="col-sm-12 col-md-12 col-lg-12 mb-3 font-14" id="descripcionProblema"
                                    placeholder="Describe la situacion del problema" name="descripcionProblema"
                                    cols="60" rows="5"></textarea>
                            </div>
                            <input type="hidden" name="idCurso" id="idCurso" value="{{curso.idCurso}}">
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info waves-effect text-left">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="agregarTarea" class="modal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col text-center">
                            <h1>Agregar <span class="small">Tarea</span></h1>
                            <p>Aqui puedes agregar una tarea nueva, llena todos los datos y guardalo.</p>
                        </div>
                        <hr>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <form action="AgregarTarea" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="col">
                                            <h4><i class="fas fa-clipboard-list mr-2"></i>Datos Generales</h4>
                                            <hr>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <h5 class="ml-1">Nombre de la Tarea<span class="text-danger">*</span>
                                                </h5>
                                                <input type="text" name="nombreTarea" id="nombreTarea"
                                                    class="form-control" placeholder="Ejemplo del nombre de una tarea"
                                                    autocomplete="off" required>
                                                <small class="form-control-feedback ml-1"> Máximo 70 caracteres </small>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <h5 class="ml-1">Descripción de la Tarea<span
                                                        class="text-danger">*</span></h5>
                                                <textarea class="form-control" name="descripcionTarea"
                                                    id="descripcionTarea" rows="5"
                                                    placeholder="Ejemplo de descripción de una tarea" autocomplete="off"
                                                    required></textarea>
                                                <small class="form-control-feedback ml-1"> Máximo 300 caracteres
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col">
                                            <h4><i class="fas fa-clock mr-2"></i>Tiempo de la tarea</h4>
                                            <hr>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <h5 class="ml-1">Fecha de límite<span class="text-danger">*</span></h5>
                                                <input type="date" name="fechaLimiteTarea" id="fechaLimiteTarea"
                                                    class="form-control" value="2021-04-13" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <h5 class="ml-1">Hora límite<span class="text-danger">*</span></h5>
                                                <input type="time" name="horaLimiteTarea" id="horaLimiteTarea"
                                                    class="form-control" value="22:33:00" required>
                                                <input type="hidden" name="idCurso" id="idCurso"
                                                    value="{{curso.idCurso}}">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <h6 class="card-title">¿La tarea puede ser entragada despues de la fecha
                                                    y hora límite?</h6>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio1" name="atemporalCurso"
                                                        class="custom-control-input" value="1" checked>
                                                    <label class="custom-control-label" for="customRadio1">Si.</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio2" name="atemporalCurso"
                                                        class="custom-control-input" value="0">
                                                    <label class="custom-control-label" for="customRadio2">No.</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="col">
                                            <div class="form-group">
                                                <h5 class="ml-1">Archivos</h5>
                                                <input type="file" name="multimediaTarea" id="multimediaTarea"
                                                    multiple />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <div class="col text-right">
                                        <button type="submit" class="btn waves-effect waves-light btn-success"><i
                                                class="fas fa-save mr-2"></i>Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editarTarea" class="modal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-center">
                                <h1>Editar <span class="small">Tarea</span></h1>
                                <p>Aqui puedes agregar una tarea nueva, llena todos los datos y guardalo.</p>
                            </div>
                            <div class="col-md-3 text-right">
                                <button type="button" class="btn waves-effect waves-light btn-danger mr-4"
                                    data-dismiss="modal"><i class="fas fa-trash-alt mr-2"></i>Eliminar</button>
                            </div>
                            <hr>
                        </div>
                        <div class="card-body">
                            <form class="form-valide" id="agregarTarea" method="POST" action="#">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="col">
                                            <h4><i class="fas fa-clipboard-list mr-2"></i>Datos Generales</h4>
                                            <hr>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <h5 class="ml-1">Nombre de la Tarea<span class="text-danger">*</span>
                                                </h5>
                                                <input type="text" id="nombreTarea" class="form-control"
                                                    placeholder="Ejemplo del nombre de una tarea" autocomplete="off"
                                                    required>
                                                <small class="form-control-feedback ml-1"> Máximo 70 caracteres </small>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <h5 class="ml-1">Descripción de la Tarea<span
                                                        class="text-danger">*</span></h5>
                                                <textarea class="form-control" id="descripcionTarea" rows="3"
                                                    placeholder="Ejemplo de descripción de una tarea" autocomplete="off"
                                                    required></textarea>
                                                <small class="form-control-feedback ml-1"> Máximo 300 caracteres
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col">
                                            <h4><i class="fas fa-clock mr-2"></i>Tiempo de la tarea</h4>
                                            <hr>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <h5 class="ml-1">Fecha de límite<span class="text-danger">*</span></h5>
                                                <input type="date" id="fechaLimiteTarea" class="form-control"
                                                    value="2021-04-13" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <h5 class="ml-1">Hora límite<span class="text-danger">*</span></h5>
                                                <input type="time" id="horaLimiteTarea" class="form-control"
                                                    value="22:33:00" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="col">
                                            <div class="form-group">
                                                <h5 class="ml-1">Archivos</h5>
                                                <input class="form-group" type="file" id="formFileMultiple" multiple />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <div class="col text-right">
                                        <button type="button" class="btn waves-effect waves-light btn-success"><i
                                                class="fas fa-save mr-2"></i>Guardar</button>
                                        <button type="button" class="btn waves-effect waves-light btn-info"><i
                                                class="fas fa-times mr-2"></i>Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="agregarAnuncio" class="modal">
            <div class="modal-dialog modal-s">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col text-center">
                            <h1>Nuevo <span class="small">Anuncio</span></h1>
                            <p>Aqui puedes agregar un anuncio nuevo.</p>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h5 class="ml-1">Asunto del anuncio <span class="text-danger">*</span>
                                                </h5>
                                                <input type="text" id="asuntoAviso" name="asuntoAviso"
                                                    class="form-control" placeholder="Escribe el asunto del aviso"
                                                    required>
                                                <small class="form-control-feedback ml-1"> Maximo 255 caracteres
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h5 class="ml-1">Descripción <span class="text-danger">*</span></h5>
                                                <textarea class="form-control" rows="3"
                                                    placeholder="Describe de que trata el aviso aqui..."></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <div>
                                        <form class="form-valide" id="agregarCurso" method="POST" action="#">
                                            <div class="form-group mt-4">
                                                <div class="col text-right">
                                                    <hr>
                                                    <button type="button"
                                                        class="btn waves-effect waves-light btn-success">
                                                        <i class="fas fa-save mr-2"></i>Guardar y Publicar</button>
                                                    <button type="button" class="btn waves-effect waves-light btn-info"
                                                        data-dismiss="modal"><i
                                                            class="fas fa-times mr-2"></i>Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editarAnuncio" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                            <h1>Editar <span class="small">Anuncio</span></h1>
                            <p>Aqui puedes agregar un anuncio nuevo.</p>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="button" class="btn waves-effect waves-light btn-danger mr-4"
                                data-dismiss="modal"><i class="fas fa-trash-alt mr-2"></i>Eliminar</button>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h5 class="ml-1">Asunto del anuncio <span class="text-danger">*</span>
                                                </h5>
                                                <input type="text" id="asuntoAviso" name="asuntoAviso"
                                                    class="form-control" placeholder="Escribe el asunto del aviso"
                                                    required>
                                                <small class="form-control-feedback ml-1"> Maximo 255 caracteres
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h5 class="ml-1">Descripción <span class="text-danger">*</span></h5>
                                                <textarea class="form-control" rows="3"
                                                    placeholder="Describe de que trata el aviso aqui..."></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <div>
                                        <form class="form-valide" id="agregarCurso" method="POST" action="#">
                                            <div class="form-group mt-4">
                                                <div class="col text-right">
                                                    <hr>
                                                    <button type="button"
                                                        class="btn waves-effect waves-light btn-success">
                                                        <i class="fas fa-save mr-2"></i>Guardar</button>
                                                    <button type="button" class="btn waves-effect waves-light btn-info"
                                                        data-dismiss="modal"><i
                                                            class="fas fa-times mr-2"></i>Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="agregarEnlace" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                            <h1>Agregar <span class="small">Enlace</span></h1>
                            <p>Aqui puedes agregar un nuevo recurso de tipo enlace.</p>
                        </div>
                        <div class="col-md-3 text-right"></div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h5 class="ml-1">Nombre del recurso <span class="text-danger">*</span>
                                                </h5>
                                                <input type="text" id="nombreAnuncio" name="nombreAnuncio"
                                                    class="form-control" placeholder="Escribe el asunto del aviso"
                                                    required>
                                                <small class="form-control-feedback ml-1"> Maximo 150 caracteres
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h5 class="ml-1">Enlace <span class="text-danger">*</span></h5>
                                                <input type="url" class="form-control" rows="3"
                                                    placeholder="Pega el enlace aqui..."></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <div>
                                        <form class="form-valide" id="agregarCurso" method="POST" action="#">
                                            <div class="form-group mt-4">
                                                <div class="col text-right">
                                                    <hr>
                                                    <button type="button"
                                                        class="btn waves-effect waves-light btn-success">
                                                        <i class="fas fa-save mr-2"></i>Guardar</button>
                                                    <button type="button" class="btn waves-effect waves-light btn-info"
                                                        data-dismiss="modal"><i
                                                            class="fas fa-times mr-2"></i>Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editarDocumento" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                            <h1>Editar <span class="small">Documento</span></h1>
                            <p>Aqui puedes editar el documento seleccionado.</p>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="button" class="btn waves-effect waves-light btn-danger mr-4"
                                data-dismiss="modal"><i class="fas fa-trash-alt mr-2"></i>Eliminar</button>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h5 class="ml-1">Nombre del documento <span class="text-danger">*</span>
                                                </h5>
                                                <input type="text" id="nombreAnuncio" name="nombreAnuncio"
                                                    class="form-control" placeholder="Escribe el asunto del aviso"
                                                    required>
                                                <small class="form-control-feedback ml-1"> Maximo 150 caracteres
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h5 class="ml-1">Documento<span class="text-danger">*</span></h5>
                                                <input type="url" class="form-control" rows="3"
                                                    placeholder="Pega el enlace aqui..."></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <div>
                                        <form class="form-valide" id="agregarCurso" method="POST" action="#">
                                            <div class="form-group mt-4">
                                                <div class="col text-right">
                                                    <hr>
                                                    <button type="button"
                                                        class="btn waves-effect waves-light btn-success">
                                                        <i class="fas fa-save mr-2"></i>Guardar</button>
                                                    <button type="button" class="btn waves-effect waves-light btn-info"
                                                        data-dismiss="modal"><i
                                                            class="fas fa-times mr-2"></i>Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editarEnlace" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                            <h1>Editar <span class="small">Enlace</span></h1>
                            <p>Aqui puedes editar el enlace seleccionado.</p>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="button" class="btn waves-effect waves-light btn-danger mr-4"
                                data-dismiss="modal"><i class="fas fa-trash-alt mr-2"></i>Eliminar</button>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h5 class="ml-1">Nombre del enlace <span class="text-danger">*</span>
                                                </h5>
                                                <input type="text" id="nombreAnuncio" name="nombreAnuncio"
                                                    class="form-control" placeholder="Escribe el asunto del aviso"
                                                    required>
                                                <small class="form-control-feedback ml-1"> Maximo 150 caracteres
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h5 class="ml-1">Enlace <span class="text-danger">*</span></h5>
                                                <input type="url" class="form-control" rows="3"
                                                    placeholder="Pega el enlace aqui..."></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <div>
                                        <form class="form-valide" id="agregarCurso" method="POST" action="#">
                                            <div class="form-group mt-4">
                                                <div class="col text-right">
                                                    <hr>
                                                    <button type="button"
                                                        class="btn waves-effect waves-light btn-success">
                                                        <i class="fas fa-save mr-2"></i>Guardar</button>
                                                    <button type="button" class="btn waves-effect waves-light btn-info"
                                                        data-dismiss="modal"><i
                                                            class="fas fa-times mr-2"></i>Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal Agregar Examen-->
        <div id="agregarExamen" class="modal">
            <div class="modal-dialog modal-s">
                <div class="modal-content">
                    <!--Salir-->
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close mt-3 mr-3" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                    </div>
                    <!--Titulo-->
                    <div class="row">
                        <div class="col text-center">
                            <h1>Nuevo <span class="small">Examen</span></h1>
                            <p>Aqui puedes agregar un examen nuevo.</p>
                        </div>
                        <hr>
                    </div>
                    <div>
                        <div class="row">
                            <form method="POST" action="/ponente/agregarExamen" class="col-lg-12">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <h5 class="ml-1">Titulo del Examen <span
                                                                class="text-danger">*</span>
                                                        </h5>
                                                        <input type="text" id="nombreExamen" name="nombreExamen"
                                                            class="form-control"
                                                            placeholder="Escribe el título del examen"
                                                            autocomplete="off" required>
                                                        <small class="form-control-feedback ml-1">
                                                            Maximo 255 caracteres
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <h5 class="ml-1">Enlace del examen<span
                                                                class="text-danger">*</span>
                                                        </h5>
                                                        <input type="url" id="linkExamen" name="linkExamen"
                                                            class="form-control"
                                                            placeholder="Agrega el enlace del examen" autocomplete="off"
                                                            required>
                                                        <input type="hidden" name="idCurso" id="idCurso" value="1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <div class="col text-right">
                                        <hr>
                                        <button type="submit" class="btn waves-effect waves-light btn-success">
                                            <i class="fas fa-save mr-2"></i>Guardar y Publicar</button>
                                        <button type="button" class="btn waves-effect waves-light btn-info"
                                            data-dismiss="modal"><i class="fas fa-times mr-2"></i>Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Terminan los modales-->
        {{#each datosCurso}}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img src="{{fotoCurso}}" width="150" class="rounded-circle" alt="user">
                        </div>
                        <div class="col-md-6">
                            <h1>{{nombreCurso}}</h1>
                            <div class="d-flex no-block align-items-center">
                                <h5 class="mr-4">Ponente:</h5>
                                <div class="mr-2"><img src="{{fotoPonente}}" alt="user" class="rounded-circle"
                                        width="45"></div>
                                <div class="">
                                    <h5 class="mb-0 font-16 font-medium">{{nombrePonente}}</h5>
                                    <span>{{areaPonente}}</span>
                                    <span>
                                        <button
                                            class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"
                                            data-toggle="modal" data-target="#verPerfilPonente"><i
                                                class="far fa-user mr-1"></i> Ver Perfil</button>
                                    </span>
                                </div>
                            </div>
                            <h5 class="mt-3">Clave: <span class="small">{{claveCurso}} </span>
                                <a href="#" class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                        class="far fa-copy mr-1"></i> Copiar</a>
                                <i class="fas fa-users ml-4 mr-2"></i> Alumnos inscritos: <span
                                    class="small ">{{totalEstudiantesCurso}}</span>
                            </h5>
                            <div class="row">
                                <h5 class="ml-2 mr-2"><i class="fas fa-briefcase mr-1"></i> Area: <span
                                        class="small ">{{areaCurso}}</span></h5>
                                <h5 class="ml-2 mr-2"><i class="far fa-circle mr-1"></i> Tipo: <span
                                        class="small ">{{tipoCurso}}</span></h5>
                                <h5 class="ml-2 mr-2"><i class="fas fa-video mr-1"></i> Modalidad: <span
                                        class="small ">{{modalidadCurso}}</span></h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3>Horario </h3>
                            <h5 class="ml-2 mr-2"><i class="far fa-calendar mr-1"></i> Fecha Inicio: <span
                                    class="small ">{{fechaInicioCurso}}</span></h5>
                            <h5 class="ml-2 mr-2"><i class="far fa-calendar mr-1"></i> Fecha Fin: <span
                                    class="small ">{{fechaFinalCurso}}</span></h5>
                            <h5 class="ml-2 mr-2"><i class="far fa-clock mr-1"></i> Horario: <span
                                    class="small ">{{horaInicioCurso}}
                                    - {{horaFinCurso}}</span></h5>
                            <div class="row mt-2">
                                <a href="#" class="btn waves-effect waves-light btn-rounded btn-sm btn-success small">
                                    <i class="fas fa-external-link-alt mr-1"></i> Ver Temario</a>
                                <a href="#"
                                    class="btn waves-effect waves-light btn-rounded btn-sm btn-success small ml-2">
                                    <i class="fas fa-external-link-alt mr-1"></i> Ir a Clase</a>
                                <a href="/ponente/consultarlumnos"
                                    class="btn waves-effect waves-light btn-rounded btn-sm btn-success small ml-2">
                                    <i class="fas fa-users mr-2"></i>Consultar Alumnos</a>
                            </div>
                            <div class="row text-center">
                                <a href="" type="button" class="btn waves-effect waves-light btn-danger mt-3"
                                    data-toggle="modal" data-target="#reportarProblema"><i
                                        class="fas fa-exclamation-triangle mr-2"></i>Reportar un Problema</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <!-- aqui -->
        <div class="col-md-12"></div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span
                                    class="hidden-sm-up"><i class="fas fa-align-justify"></i></span> <span
                                    class="hidden-xs-down">Historial</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#avisos" role="tab"><span
                                    class="hidden-sm-up"><i class="fas fa-envelope-open-text"></i></span> <span
                                    class="hidden-xs-down">Avisos</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#asignaciones"
                                role="tab"><span class="hidden-sm-up"><i class="fas fa-briefcase"></i></span> <span
                                    class="hidden-xs-down">Asignaciones</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#recursos" role="tab"><span
                                    class="hidden-sm-up"><i class="fas fa-folder-open"></i></span> <span
                                    class="hidden-xs-down">Recursos</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#examenes" role="tab"><span
                                    class="hidden-sm-up"><i class="mr-2 mdi mdi-file-document"></i></span> <span
                                    class="hidden-xs-down">Examenes</span></a> </li>
                    </ul>
                    <div class="tab-content tabcontent-border">
                        <!--Panel de todos-->
                        <div class="tab-pane active p-20" id="home" role="tabpanel">
                            <!-- Busqueda-->
                            <nav class="navbar navbar-light bg-light justify-content-between">
                                <a class="navbar-brand">Historial de avisos y asignaciones</a>
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
                                        aria-label="Search">
                                    <button class="btn btn-success my-2 my-sm-0" type="submit"><i
                                            class="fas fa-search mr-2"></i> Buscar</button>
                                </form>
                            </nav>

                            <div class="card mt-3"
                                style="border-radius: 10px; box-shadow: 1px 1px 5px rgba(197, 187, 197, 0.808) ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="ml-3 mr-2">
                                                    <img src="../../assets/images/users/d1.jpg" alt="user"
                                                        class="rounded-circle" width="45">
                                                </div>
                                                <div class="">
                                                    <h5 class="mb-0 font-16">Nombre Completo Ponente <span
                                                            class="small">publicó para</span></h5>
                                                    <h5 class="font-medium">Nombre Completo Curso Lorem ipsum</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <h5 class="font-light mt-2"><i class="fas fa-calendar-alt ml-2"></i>
                                                08/05/2021 <i class="fas fa-clock"></i> 24:59</h5>
                                            <span class="small"><a href="#"
                                                    class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"
                                                    data-toggle="modal" data-target="#editarAnuncio">
                                                    <i class="fas fa-pencil-alt mr-2"></i>Editar</a></span>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <p class="ml-3">Contenido del aviso, el texto puede ser un poco largo pero
                                                no importa por que podemos mostrar casi cualquier cantidad de
                                                caracteres.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-3"
                                style="border-radius: 10px; box-shadow: 1px 1px 5px rgba(197, 187, 197, 0.808) ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <h4><i class="fas fa-bookmark mr-2"></i>Nombre Completo Asignación Lorem
                                                ipsum</h4>
                                        </div>
                                        <div class="col-3 text-right">
                                            <span class="mb-3 label  label-info mr-2">Abierta</span>
                                            <span class="small"><a href="#"
                                                    class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"
                                                    data-toggle="modal" data-target="#editarTarea">
                                                    <i class="fas fa-pencil-alt mr-2"></i>Editar</a></span>
                                        </div>
                                        <div class="col-12">
                                            <h4 class="ml-2"><span class="small"> Nombre Completo Curso Lorem
                                                    ipsum</span></h4>
                                            <p class="ml-3">Pequeño fragmento de la descripción de la asignación, cortar
                                                con text truncation o algun otro método...</p>
                                            <h6 class="font-weight-normal"><i class="fas fa-paperclip mr-2"></i>Esta
                                                asignación posee <span class="font-weight-bold">(3)</span> archivos
                                                adjuntos. <span class="small"><a href="#"
                                                        class="btn waves-effect waves-light btn-rounded btn-sm btn-success small">
                                                        <i class="fas fa-download mr-2"></i>Descargar</a></span></h6>
                                        </div>
                                        <div class="col-8">
                                            <h5 class="font-light float-left">Fecha Cierre: <i
                                                    class="fas fa-calendar-alt ml-2"></i> 08/05/2021 <i
                                                    class="fas fa-clock"></i> 24:59</h5>
                                        </div>
                                        <div class="col-4 text-right">
                                            <h5 class="font-light"> Entregas: <i class="fas fa-users"></i> 15/20</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-3"
                                style="border-radius: 10px; box-shadow: 1px 1px 5px rgba(197, 187, 197, 0.808) ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="ml-3 mr-2">
                                                    <img src="../../assets/images/users/d1.jpg" alt="user"
                                                        class="rounded-circle" width="45">
                                                </div>
                                                <div class="">
                                                    <h5 class="mb-0 font-16">Nombre Completo Ponente <span
                                                            class="small">publicó para</span></h5>
                                                    <h5 class="font-medium">Nombre Completo Curso Lorem ipsum</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <h5 class="font-light mt-2"><i class="fas fa-calendar-alt ml-2"></i>
                                                08/05/2021 <i class="fas fa-clock"></i> 24:59</h5>
                                            <span class="small"><a href="#"
                                                    class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"
                                                    data-toggle="modal" data-target="#editarAnuncio">
                                                    <i class="fas fa-pencil-alt mr-2"></i>Editar</a></span>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <p class="ml-3">Contenido del aviso, el texto puede ser un poco largo pero
                                                no importa por que podemos mostrar casi cualquier cantidad de
                                                caracteres.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-3"
                                style="border-radius: 10px; box-shadow: 1px 1px 5px rgba(197, 187, 197, 0.808) ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <h4><i class="fas fa-bookmark mr-2"></i>Nombre Completo Asignación Lorem
                                                ipsum</h4>
                                        </div>
                                        <div class="col-3 text-right">
                                            <span class="mb-3 label  bg-dark mr-2">Cerrada</span>
                                            <span class="small"><a href="#"
                                                    class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"
                                                    data-toggle="modal" data-target="#editarTarea">
                                                    <i class="fas fa-pencil-alt mr-2"></i>Editar</a></span>
                                            <span class="small"><a href="/ponente/calificarTarea"
                                                    class="btn waves-effect waves-light btn-rounded btn-sm btn-warning small">
                                                    <i class="fas fa-check-double mr-2"></i>Calificar</a></span>
                                        </div>
                                        <div class="col-12">
                                            <h4 class="ml-2"><span class="small"> Nombre Completo Curso Lorem
                                                    ipsum</span></h4>
                                            <p class="ml-3">Pequeño fragmento de la descripción de la asignación, cortar
                                                con text truncation o algun otro método...</p>
                                            <h6 class="font-weight-normal"><i class="fas fa-paperclip mr-2"></i>Esta
                                                asignación posee <span class="font-weight-bold">(3)</span> archivos
                                                adjuntos. <span class="small"><a href="#"
                                                        class="btn waves-effect waves-light btn-rounded btn-sm btn-success small">
                                                        <i class="fas fa-download mr-2"></i>Descargar</a></span></h6>
                                        </div>
                                        <div class="col-8">
                                            <h5 class="font-light float-left">Fecha Cierre: <i
                                                    class="fas fa-calendar-alt ml-2"></i> 08/05/2021 <i
                                                    class="fas fa-clock"></i> 24:59</h5>
                                        </div>
                                        <div class="col-4 text-right">
                                            <h5 class="font-light"> Entregas: <i class="fas fa-users"></i> 15/20</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Panel de anuncios-->
                        <div class="tab-pane  p-20" id="avisos" role="tabpanel">
                            <!-- Busqueda-->
                            <nav class="navbar navbar-light bg-light justify-content-between">
                                <a class="navbar-brand">Historial de aviso</a>
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
                                        aria-label="Search">
                                    <button class="btn btn-success my-2 my-sm-0 mr-2" type="submit"><i
                                            class="fas fa-search mr-2"></i> Buscar</button>
                                    <button type="button" class="btn waves-effect waves-light btn-info"
                                        data-toggle="modal" data-target="#agregarAnuncio"><i
                                            class="fas fa-plus mr-2"></i>Agregar aviso</button>
                                </form>
                            </nav>
                            <!--Anuncios-->
                            {{#each avisosCurso}}
                            <div class="card mt-3"
                                style="border-radius: 10px; box-shadow: 1px 1px 5px rgba(197, 187, 197, 0.808) ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="ml-3 mr-2">
                                                    <img src={{fotoPonente}} alt="foto Ponente" class="rounded-circle"
                                                        width="45">
                                                </div>
                                                <div class="">
                                                    <h5 class="mb-0 font-16">{{nombrePonente}} <span
                                                            class="small">publicó para</span></h5>
                                                    <h5 class="font-medium">{{nombreCurso}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <h5 class="font-light mt-2"><i class="fas fa-calendar-alt ml-2"></i>
                                                {{fechaAviso}} <i class="fas fa-clock"></i> {{horaAviso}}</h5>
                                            <span class="small"><a href="#"
                                                    class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"
                                                    data-toggle="modal" data-target="#editarAnuncio">
                                                    <i class="fas fa-pencil-alt mr-2"></i>Editar</a></span>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <p class="ml-3">{{textoAviso}}.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <!--Panel de asignaciones-->
                        <div class="tab-pane p-20" id="asignaciones" role="tabpanel">
                            <!-- Busqueda-->
                            <nav class="navbar navbar-light bg-light justify-content-between">
                                <a class="navbar-brand">Historial de asignaciones</a>
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
                                        aria-label="Search">
                                    <button class="btn btn-success my-2 my-sm-0 mr-2" type="submit"><i
                                            class="fas fa-search mr-2"></i> Buscar</button>
                                    <button type="button" class="btn waves-effect waves-light btn-info"
                                        data-toggle="modal" data-target="#agregarTarea"><i
                                            class="fas fa-plus mr-2"></i>Agregar Asignación</button>
                                </form>
                            </nav>
                            <!--Asignaciones-->
                            {{#each asignacionesPonente}}
                            <div class="card mt-3"
                                style="border-radius: 10px; box-shadow: 1px 1px 5px rgba(197, 187, 197, 0.808) ">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-9">
                                            <h4><i class="fas fa-bookmark mr-2"></i>{{nombreTarea}}</h4>
                                        </div>
                                        <div class="col-3 text-right">
                                            {{#ifEquals estadoTarea "abierta"}}
                                            <span class="mb-3 label  label-info mr-2">Abierta</span>
                                            {{/ifEquals}}
                                            {{#ifEquals estadoTarea "cerrada"}}
                                            <span class="mb-3 label  bg-dark mr-2">Cerrada</span>
                                            <span class="small"><a href="/ponente/calificarTarea"
                                                    class="btn waves-effect waves-light btn-rounded btn-sm btn-warning small">
                                                    <i class="fas fa-check-double mr-2"></i>Calificar</a></span>
                                            {{/ifEquals}}
                                            <span class="small"><a href="#"
                                                    class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"
                                                    data-toggle="modal" data-target="#editarTarea">
                                                    <i class="fas fa-pencil-alt mr-2"></i>Editar</a></span>
                                        </div>
                                        <div class="col-12">
                                            <h4 class="ml-2"><span class="small">{{nombreCurso}}</span></h4>
                                            <p class="ml-3">{{descripcionTarea}}.</p>
                                            <h6 class="font-weight-normal"><i class="fas fa-paperclip mr-2"></i>Esta
                                                asignación posee <span
                                                    class="font-weight-bold">({{totalArchivos}})</span> archivos
                                                adjuntos. <span class="small"><a href="#"
                                                        class="btn waves-effect waves-light btn-rounded btn-sm btn-success small">
                                                        <i class="fas fa-download mr-2"></i>Descargar</a></span></h6>
                                        </div>
                                        <div class="col-8">
                                            <h5 class="font-light float-left">Fecha Cierre: <i
                                                    class="fas fa-calendar-alt ml-2"></i> {{fechaLimiteTarea}} <i
                                                    class="fas fa-clock"></i> {{horaLimiteTarea}}</h5>
                                        </div>
                                        <div class="col-4 text-right">
                                            <h5 class="font-light"> Entregas: <i class="fas fa-users"></i> 15/20</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <!--Panel de Recursos-->
                        <div class="tab-pane p-20" id="recursos" role="tabpanel">
                            <!-- Busqueda-->
                            <nav class="navbar navbar-light bg-light justify-content-between">
                                <a class="navbar-brand">Recursos del Curso</a>
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
                                        aria-label="Search">
                                    <button class="btn btn-success my-2 my-sm-0 mr-2" type="submit"><i
                                            class="fas fa-search mr-2"></i> Buscar</button>
                                    <button type="button" class="btn waves-effect waves-light btn-info"
                                        data-toggle="modal" data-target="#agregarEnlace"><i
                                            class="fas fa-plus mr-2"></i>Agregar Enlace</button>
                                </form>
                            </nav>
                            <!--contenido-->
                            <div class="row mt-3">
                                <!-- RECURSOS DOCUMENTOS  -->
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header bg-info">
                                            <h4 class="mb-0 text-white"><i class="fas fa-folder-open"></i> Docuementos
                                                <span class="small">(3)</span>
                                            </h4>
                                        </div>
                                        <div class="comment-widgets scrollable ps-container ps-theme-default ps-active-y"
                                            style="height:598px;" data-ps-id="96370757-1752-5407-955d-d2618da54798">

                                            {{#each documentosCurso}}
                                            <div class="d-flex flex-row comment-row mt-0">
                                                <div class="comment-text w-100">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h4><i class="fas fa-file-alt mr-2"></i> <span
                                                                    class="font-weight-normal">{{nombreDocumento}}</span>
                                                            </h4>
                                                        </div>
                                                        <div class="col-md-4 text-right">
                                                            <a href={{linkDocumento}}
                                                                class="btn waves-effect waves-light btn-rounded btn-xs btn-info"><i
                                                                    class="fas fa-download"></i> Descargar </a>

                                                        </div>
                                                        <div class="col-md-0 text-right" data-toggle="modal"
                                                            data-target="#editarDocumento">
                                                            <a href="#"
                                                                class="btn waves-effect waves-light btn-rounded btn-xs btn-success"><i
                                                                    class="fas fa-pencil-alt mr-2"></i>Editar </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                                <!-- RECURSOS LINKS  -->
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header bg-primary" class="card-body">
                                            <h4 class="mb-0 text-white" class="card-title"><i class="fas fa-link"></i>
                                                Links </h4>
                                        </div>
                                        <div class="comment-widgets scrollable ps-container ps-theme-default ps-active-y"
                                            style="height:598px;" data-ps-id="96370757-1752-5407-955d-d2618da54798">
                                            {{#each linksCurso}}
                                            <div class="d-flex flex-row comment-row mt-0">
                                                <h3><i class=" fas fa-link"></i></h3>
                                                <div class="col-md-6">
                                                    <a href={{link}} class="font-weight-normal">{{nombreCurso}}</a>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <span class="small"><a href="#"
                                                            class="btn waves-effect waves-light btn-rounded btn-sm btn-success small mr-3"
                                                            data-toggle="modal" data-target="#editarEnlace">
                                                            <i class="fas fa-pencil-alt mr-2"></i>Editar</a></span>
                                                </div>
                                            </div>
                                            {{/each}}
                                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
                                                </div>
                                            </div>
                                            <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 0px;">
                                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Panel de Examenes-->
                        <div class="tab-pane  p-20" id="examenes" role="tabpanel">
                            <!-- Busqueda-->
                            <nav class="navbar navbar-light bg-light justify-content-between">
                                <a class="navbar-brand">Examenes</a>
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
                                        aria-label="Search">
                                    <button class="btn btn-success my-2 my-sm-0 mr-2" type="submit"><i
                                            class="fas fa-search mr-2"></i> Buscar</button>
                                    <button type="button" class="btn waves-effect waves-light btn-info"
                                        data-toggle="modal" data-target="#agregarExamen"><i
                                            class="fas fa-plus mr-2"></i>Agregar Examen</button>
                                </form>
                            </nav>
                            <!--cartasExamenes-->
                            <div class="card mt-3"
                                style="border-radius: 10px; box-shadow: 1px 1px 5px rgba(197, 187, 197, 0.808) ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">

                                                <div class="">
                                                    <h5 class="font-medium">Nombre Completo Curso Lorem ipsum</h5>

                                                    <h4>Titulo del Examen</h4>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <h5>Enlace del examen: <br>
                                                <span
                                                    class="small">file:///C:/Users/Documents/8vo/Escuenla%20Sindical/xtremeadmin/
                                                    xtreme-admin/html/GodlikeFish/p2_consultarCursoE1_v2.html</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>