<div class="container-fluid">
    <!--MODAL-->
    {{#each modalEstudiante}}
    <div id="verAlumno{{id}}" class="modal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!--Salir-->
                <div class="row">
                    <div class="col text-right">
                        <button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                </div>
                <!--Titulo-->
                <div class="row">
                    <div class="col text-center">
                        <h1>Perfil <span class="small">Estudiante</span></h1>
                    </div>
                    <hr>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <form enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><i class="fas fa-clipboard-list mr-2"></i>Datos Generales</h4>
                                    <hr>
                                </div>
                                <div class="col-3">
                                    <center> <img src="../../assets/multimedia/usuarios/{{id}}/{{fotoURL}}"
                                            class="rounded-circle" width="100" height="100" />
                                        <br><br>
                                        <h6 class="text-muted">Foto Perfil</h6>
                                    </center>
                                </div>
                                <div class="col-9" class="form-control">
                                    <div class="row">
                                        <div class="col-lg-4 text-center">
                                            <h6 class="text-muted">Nombres</h6>
                                            <h4>{{nombres}}  {{pApellido}}</h4>
                                        </div>
                                        <div class="col-lg-4 text-center">
                                            <h6 class="text-muted">Matrícula</h6>
                                            <h4>{{matricula}}</h4>
                                        </div>
                                        <div class="col-lg-4 text-center">
                                            <h6 class="text-muted">Categoría</h6>
                                            <h4>{{area}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-4 text-center">
                                            <h6 class="text-muted">Antigüedad</h6>
                                            <h4>{{antiguedad}}</h4>
                                        </div>
                                        <div class="col-lg-8 text-center">
                                            <h6 class="text-muted">Correo</h6>
                                            <h4>{{correoUsuario}}</h4>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-12 form-group mt-4">
                                        <div class="col text-right">
                                        <a href="" type="button" class="btn waves-effect waves-light btn-success btn-rounded"> Esta bien <i
                                        class="far fa-grin-alt mr-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <!--CONTENEDOR-->

    <div class="col-12 sm-12">
        <div class="card">
            <div class="card-body text-center">
                <h1>Consultar <span class="small"> Estudiantes</span></h1>
                <p>Estos son todos los alumnos que se encuentran inscritos en el curso que impartes.</p>
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <h3 class="card-title">Estudiantes del Curso<span class="small">  {{nombreCurso}}</span></h3>
                <hr>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" style="color: cadetblue;"
                            href="#home" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span>
                            <span class="hidden-xs-down">Vista tabla</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" style="color: cadetblue;"
                            href="#profile" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span>
                            <span class="hidden-xs-down">Vista Tarjeta</span></a> </li>

                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabcontent-border">
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <div class="p-20">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title"></h4>
                                            <h6 class="card-subtitle"> <a href="https://datatables.net/"></a>
                                            </h6>
                                            <div class="table-responsive">
                                                <table id="file_export"
                                                    class="table table-striped table-bordered display">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Nombres</th>
                                                            <th>Apellido Paterno</th>
                                                            <th>Tipo</th>
                                                            <th>Matricula</th>
                                                            <th>Antigüedad</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each estudiantes}}
                                                        <tr>
                                                             <td>{{id}}</td>
                                                            <td>{{nombres}}</td>
                                                            <td>{{pApellido}}</td>
                                                            <td>{{tipo}}</td>
                                                            <td>{{matricula}}</td>
                                                            <td>{{antiguedad}}</td>
                                                            <td>
                                                                <a type="button" data-toggle="modal"
                                                                    data-target="#verAlumno{{id}}"
                                                                    class="btn waves-effect waves-light btn-success text-white btn-rounded"><i
                                                                    href="..." class="fas fa-eye mr-2"></i> Ver estudiante</a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Nombres</th>
                                                            <th>Apellido Paterno</th>
                                                            <th>Tipo</th>
                                                            <th>Matricula</th>
                                                            <th>Antigüedad</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane  p-20" id="profile" role="tabpanel">
                        <div class="container-fluid">
                            <div class="page-breadcrumb">
                                <div class="row">
                                    <div class="col-10 align-self-center">
                                        <h4 class="page-title">Estudiantes del Curso</h4>
                                        <br>

                                        <div class="input-group mb-3">
                                            <input id="BuscarAlumno" name="BuscarAlumno" type="text"
                                                class="form-control" placeholder="Buscar" aria-label=""
                                                aria-describedby="basic-addon1">
                                            <div class="input-group-append">
                                                <button class="btn btn-success" type="button"><i
                                                        class="ti-search"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="TarjetaAlumno" name="TarjetaAlumno" class="container-fluid">
                                <div class="row el-element-overlay">
                                    {{#each estudiantes}}
                                    <div class="col-lg-2 col-md-4">
                                        <div class="card" >
                                            <div class="el-card-item" class="modal-footer">
                                                <div class="el-card-avatar el-overlay-1" data-toggle="modal"
                                                     data-target="#verAlumno{{id}}">
                                                     <img src="../../assets/multimedia/usuarios/{{id}}/{{fotoURL}}"  height="100" width="100"
                                                        class="rounded-circle"/>
                                                    <div class="el-overlay">
                                                        <ul class="list-style-none el-info">
                                                            <a href="../../assets/multimedia/usuarios/{{id}}/{{fotoURL}}"></a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h4 class="mb-0">{{nombres}}  {{pApellido}}</h4> <span
                                                        id="UsuarioArea" name="UsuarioArea"
                                                        class="text-muted">{{matricula}}   <br>
                                                        {{antiguedad}}</span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane p-20" id="messages" role="tabpanel">3</div>
                </div>

            </div>

        </div>
    </div>



</div>