<div class="container-fluid">
    <!-- modales -->
    {{#each usuariosSinVerificar}}
    <div id="verificarUsuario{{idUsuario}}" class="modal">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row">
                        <!--titulo-->
                        <div class="col-md-1"></div>
                        <div class="col-md-10  text-center">
                            <h3>Verificar a<span class="small">{{nombreUsuario}}</span></h3>
                        </div>
                        <div class="col-md-1 text-right">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <!--contenido-->
                        <div class="col-md-12">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-12 text-center mt-3">
                                        <h3 class="font-light mb-4">¿Quieres Verificar a este Usuario?</h3>
                                        <form action="../administrador/VerificarTarjetonUsuario" method="POST">
                                            <button type="submit" class="btn waves-effect waves-light btn-danger">
                                                <i class="fas fa-check mr-2"></i>Si, verificar</button>
                                            <button type="button" class="btn waves-effect waves-light btn-info" data-dismiss="modal">
                                                <i class="fas fa-times mr-2"></i>No, denegar acceso</button>
                                        </form>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{#each errores}}
        {{#if tipoProblema}}
        <div id="problema{{idProblema}}" class="modal">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 10px">
                    <div class="card-body">
                        <div class="row">
                            <!--titulo-->
                            <div class="col-md-1"></div>
                            <div class="col-md-10  text-center">
                                <h3>Problema <span class="small">{{idProblema}}</span></h3>
                            </div>
                            <div class="col-md-1 text-right">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×</button>
                            </div>
                            <!--contenido-->
                            <div class="col-md-12">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-12 text-center mt-3">
                                            <p class="font-medium mb-3" style="text-align: justify;">{{descripcionProblema}}</p>
                                            <form action="ResolverProblema/1" method="POST">
                                                <input type="hidden" name="idProblema"value="{{idProblemaUsuario}}">
                                                <button type="submit" class="btn waves-effect waves-light btn-danger">
                                                    <i class="fas fa-check mr-2"></i>Resuelto</button>
                                                <button type="button" class="btn waves-effect waves-light btn-info" data-dismiss="modal">
                                                    <i class="fas fa-times mr-2"></i>Cancelar</button>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div id="problema{{idProblema}}" class="modal">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 10px">
                    <div class="card-body">
                        <div class="row">
                            <!--titulo-->
                            <div class="col-md-1"></div>
                            <div class="col-md-10  text-center">
                                <h3>Problema <span class="small">{{idProblema}}</span></h3>
                            </div>
                            <div class="col-md-1 text-right">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×</button>
                            </div>
                            <!--contenido-->
                            <div class="col-md-12">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-12 text-center mt-3">
                                            <p class="font-medium mb-3" style="text-align: justify;">{{descripcionProblema}}</p>
                                            <form action="ResolverProblema/0" method="POST">
                                                <input type="hidden" name="idProblema"value="{{idProblemaUsuario}}">
                                                <button type="submit" class="btn waves-effect waves-light btn-danger">
                                                    <i class="fas fa-check mr-2"></i>Resuelto</button>
                                                <button type="button" class="btn waves-effect waves-light btn-info" data-dismiss="modal">
                                                    <i class="fas fa-times mr-2"></i>Cancelar</button>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    {{/each}}
    <!-- terminan modales -->
    <div class="row">
        <!-- primera columna -->
        <div class="col-md-3">
            <div class="card" style="border-radius: 10px">
                <div class="card-body">
                    <h3 class="card-title"><i class="fas fa-user-lock mr-2"></i>Usuarios No Verificados <span class="small"> (8)</span></h3><hr class="p-0">
                    <div class="comment-widgets scrollable ps-container ps-theme-default ps-active-y" style="height:730px;" data-ps-id="96370757-1752-5407-955d-d2618da54798">
                        <!-- Usuarios no verificados -->
                        {{#each usuariosSinVerificar}}
                        <div class="d-flex flex-row comment-row mt-0">
                            <!--<div class="p-2"><img src="../../assets/multimedia/usuarios/{{idUsuario}}/{{fotoUsuario}}" alt="user" width="50"class="rounded-circle"></div> FALTAAGREGAR-->
                            <div class="p-0"><img src="../../assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100">
                                <h5 class=" mb-0">{{nombreUsuario}}</h5>
                                <h6 class="font-medium mt-0 mb-0">{{puestoUsuario}}</h6><!-- puesto -->
                                <h6 class="mt-0 ml-3"><i class="text-warning fas fa-hockey-puck mr-2"></i>Matrícula: <span class="font-light">{{matriculaUsuario}}</span></h6>
                                <span class="label label-rounded label-primary">{{areaUsuario}}</span>
                                <span class="label label-rounded label-warning">{{antiguedadUsuario}}</span>
                                <a href="/administrador/DescargarTarjetonUsuario/{{idUsuario}}/{{tarjetonUsuario}}"><span class="label label-rounded label-success">
                                    <i class="fas fa-download mr-2"></i>Tarjetón</span></a>
                                <div class="comment-footer">
                                    <span class="action-icons">
                                        <button class="btn btn-block btn-success btn-rounded btn-sm mt-1" data-toggle="modal" data-target="#verificarUsuario">
                                            <i class="fas fa-check mr-2"></i> Verificar
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 0px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- columna central -->
        <div class="col-md-6">
            <div class="card" style="border-radius: 10px">
                <div class="card-body">
                    <h3 class="card-title"><i class="fas fa-chart-pie mr-2"></i>Estadisticas de tus Cursos <span class="small">(110)</span></h3><hr>
                    <div class="table-responsive" style="border-radius: 10px">
                        <table class="table table-hover table-warning">
                            <thead class="bg-warning text-white">
                                <tr>
                                    <th scope="col"><i class="fas fa-book mr-2"></i>Cursos por Area</th>
                                    <th scope="col">Medica</th>
                                    <th scope="col">Administrativa</th>
                                    <th scope="col">Desarrollo Personal</th>
                                    <th scope="col">Escuela Sindical</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><i class="fas fa-circle mr-2"></i>Activos</th>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>30</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="far fa-circle mr-2"></i>Inactivos</th>
                                    <td>10</td>
                                    <td>30</td>
                                    <td>10</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card" style="border-radius: 10px">
                <div class="card-body">
                    <h3 class="card-title"><i class="fas fa-chart-bar mr-2"></i>Estadisticas de tus Usuarios <span class="small">(201)</span></h3><hr>
                    <div class="table-responsive" style="border-radius: 10px">
                        <table class="table table-hover table-success">
                            <thead class="bg-success text-white">
                                <tr>
                                    <th scope="col"><i class="fas fa-user mr-2"></i>Usuarios por Area</th>
                                    <th scope="col">Medica</th>
                                    <th scope="col">Administrativa</th>
                                    <th scope="col">Desarrollo Personal</th>
                                    <th scope="col">Escuela Sindical</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><i class="fas fa-circle mr-2"></i>Activos</th>
                                    <td>30</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="fas fa-university mr-2"></i>En Curso</th>
                                    <td>20</td>
                                    <td>15</td>
                                    <td>0</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="fas fa-graduation-cap mr-2"></i>Con Reconocimientos</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>0</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="far fa-circle mr-2"></i>Inactivos</th>
                                    <td>10</td>
                                    <td>30</td>
                                    <td>10</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- columna derecha -->
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-center" style="border-radius: 10px">
                        <img class="card-img-top img-responsive" height="100px" src="../../assets/images/logoBienvenida.svg" alt="Card image cap">
                        <h3>!{{mensaje}}, {{#miPerfil}}<span class="small">{{nombres}}</span>{{/miPerfil}}!</h3>
                        <div class="card-body p-1">
                            <p>Aqui tienes un resumén sobre el estado del sistema.</p>
                        </div>
                    </div>
                </div>
                <!-- problemas -->
                <div class="col-md-12">
                    <div class="card" style="border-radius: 10px">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-exclamation-triangle mr-2"></i>Errores Reportados <span class="small"> (10)</span></h4><hr class="p-0">
                            <div class="comment-widgets scrollable ps-container ps-theme-default ps-active-y" style="height:530px;" data-ps-id="96370757-1752-5407-955d-d2618da54798">
                            <!-- problemas reportados -->
                            {{#each errores}}
                                {{#if tipoProblema}}
                                <div class="d-flex flex-row comment-row mt-0">
                                    <div class="p-2"><img src="../../assets/images/users/2.jpg" alt="user" width="50" class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">{{nombreUsuario}}</h6>
                                        <span class="d-block" style="text-align: justify;">{{asuntoProblema}}</span>
                                        <span class="text-muted mb-3">{{fechaProblema}}, {{horaProblema}}</span>
                                        <div class="comment-footer">
                                            
                                            <span class="label label-rounded label-primary">Curso</span> 
                                            <span class="label label-rounded label-danger">Pendiente</span> 
                                            <span class="action-icons">
                                                <a href="#" data-toggle="modal" data-target="#problema{{idProblema}}"><i class="ti-check"></i></a>  
                                                <a href="../curso/{{idCurso}}"><i class="fas fa-arrow-right"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {{else}}
                                <div class="d-flex flex-row comment-row mt-0">
                                    <div class="p-2"><img src="../../assets/images/users/2.jpg" alt="user" width="50" class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">{{nombreUsuario}}</h6>
                                        <span class="mb-3 d-block">{{asuntoProblema}}</span>
                                        <div class="comment-footer">
                                            <span class="text-muted float-right">{{fechaProblema}}, {{horaProblema}}</span>
                                            <span class="label label-rounded label-warning">Usuario</span> 
                                            <span class="label label-rounded label-danger">Pendiente</span> 
                                            <span class="action-icons">
                                                <a href="#" data-toggle="modal" data-target="#problema{{idProblema}}"><i class="ti-check"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                            {{/each}}
                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 0px;">
                                    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>