<div class="container-fluid">
    <!--modales-->
    <div id="editarUsuario" class="modal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row">
                        <!--titulo-->
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                            <h3>Editar <span class="small">Usuario</span></h3>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <!--contenido-->
                        <div class="col-md-12">
                            {{#datos}}
                            <form action="../editarUsuarios/{{idUsuario}}" method="post" >
                                <div class="row">
                                    <!--datos generales-->
                                    <div class="col-md-3 text-center">
                                        <img src="../../assets/images//users/1.jpg" width="150" class="rounded-circle" alt="imagenUsuario">
                                        <h6 class="mb-0 font-medium">Imagen de perfil </h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4><i class="fas fa-user-alt mr-2"></i>Datos Generales</h4><hr>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class="mb-0 font-medium ml-2">Nombre</h6>
                                                <input type="text" name="nombres" value="{{nombre}}" class="form-control" placeholder="Nombre(s)" required>
                                            </div>
                                            <div class="col-md-3">
                                                <h6 class="mb-0 font-medium ml-2">Apellido Paterno</h6>
                                                <input type="text" name="pApellido" value="{{apellidoPaterno}}" class="form-control" placeholder="Apellido" required>
                                            </div>
                                            <div class="col-md-3">
                                                <h6 class="mb-0 font-medium ml-2">Apellido Materno</h6>
                                                <input type="text" name="sApellido" value="{{apellidoMaterno}}" class="form-control" placeholder="Apellido" required>
                                            </div>
                                            <div class="col-md-4">
                                                <h6 class="mb-0 font-medium mt-2 ml-2">País de nacimiento </h6>
                                                <select name="paisNacimientoID" class="form-control custom-select" style="width: 100%; height:36px;">
                                                    <option value="{{idPais}}">{{paisNacimiento}}</option>
                                                    {{#each ../paises}}
                                                    <option value="{{idPais}}">{{nombrePais}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <h6 class="mb-0 font-medium mt-2 ml-2">Municipio de nacimiento</h6>
                                                <select name="municipioNacimientoID" class="form-control custom-select" style="width: 100%; height:36px;">
                                                    <option value="{{idMunicipio}}">{{municipioNacimiento}}</option>
                                                    {{#each ../paises}}
                                                    <option value="{{idMunicipio}}">{{nombreMunicipio}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <h6 class="mb-0 font-medium mt-2 ml-2">Fecha Nacimiento</h6>
                                                <input name="fechaNacimiento" type="date" class="form-control" value="{{fechaNacimiento}}" style="width: 100%; ">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- datos domicilio -->
                                    <div class="col-md-12">
                                        <h4><i class="fas fa-home mr-2 mt-3"></i>Datos domiciliarios</h4><hr>
                                    </div>                                    
                                    <div class="col-md-4">
                                        <h6 class="mb-0 font-medium ml-2">Municipio de Residencia </h6>
                                        <select name="municipioResidenciaID" class="form-control custom-select" style="width: 100%; height:36px;" >
                                            <option value="{{idMunicipioResidencia}}">{{municipioResidencia}}</option>
                                            {{#each ../municipios}}
                                            <option value="{{idMunicipio}}">{{nombreMunicipio}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="mb-0 font-medium ml-2">Colonia de Residencia </h6>
                                        <input value="{{colonia}}" name="colonia" type="text" id="#" class="form-control" placeholder="Colonia" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="mb-0 font-medium ml-2">Calle </h6>
                                        <input value="{{calle}}" name="calle" type="text" id="#" class="form-control" placeholder="Calle" required>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="mb-0 font-medium mt-2 ml-2">Número Exterior </h6>
                                        <input value="{{numeroExterior}}" name="numeroExt" type="number" class="form-control" value="0" required>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="mb-0 font-medium mt-2 ml-2">Número Interior </h6>
                                        <input value="{{numeroInterior}}" name="numeroInt" type="number" class="form-control">
                                    </div>
                                    <div class="col-md-12">
                                        <h4><i class="fas fa-user-tie mr-2 mt-3"></i>Datos laborales</h4><hr>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="mb-0 font-medium ml-2">Matrícula </h6>
                                        <input value="{{matriculaUsuario}}" name="matricula" type="text" id="#" class="form-control" placeholder="00000000" required>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="mb-0 font-medium ml-2">Antiguedad </h6>
                                        <input value="{{fechaInicioLabores}}" name="antiguedad" type="date" id="#" class="form-control" placeholder="Medida en años" required>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="mb-0 font-medium ml-2">Puesto </h6>
                                        <select name="puesto" class="form-control custom-select" style="width: 100%; height:36px;" >
                                            <option selected value="{{idPuesto}}">{{puesto}}</option>
                                            {{#each ../puestos}}
                                            <option value="{{nombrePuesto}}">{{nombrePuesto}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="mb-0 font-medium ml-2">Area </h6>
                                        <select name="area" class="form-control custom-select" style="width: 100%; height:36px;" >
                                            <option selected value="{{idArea}}">{{area}}</option>
                                            {{#each ../areas}}
                                            <option value="{{idArea}}">{{nombreArea}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-12 text-right mt-3">
                                        <button type="submit" class="btn waves-effect waves-light btn-info"><i class="fas fa-save mr-2"></i>Guardar</button>
                                        <button type="button" class="btn waves-effect waves-light btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-2"></i>Cancelar</button>
                                    </div>
                                </div>
                            </form>
                            {{/datos}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="enviarEmail" class="modal">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row">
                        <!--titulo-->
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                            <h3>Enviar <span class="small">Email</span></h3>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <!--contenido-->
                        <div class="col-md-12">
                            <form action="../enviarCorreo/" method="POST">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 class="mb-0 font-medium ml-2">Asunto <span class="text-danger">*</span></h6>
                                        <input type="text" name="asunto" class="form-control" placeholder="Asunto del correo" required>
                                        <input type="hidden" name="idUsuario" value="{{datos.idUsuario}}">
                                    </div>
                                    <div class="col-md-12">
                                        <h6 class="mb-0 font-medium mt-3 ml-2">Contenido <span class="text-danger">*</span></h6>
                                        <textarea class="form-control" rows="5" placeholder="Escriba aquí el mensaj que desea enviarle..." name="mensje"></textarea>
                                    </div>
                                    <div class="col-md-12 text-right mt-3">
                                        <button type="submit" class="btn waves-effect waves-light btn-info"><i class="far fa-paper-plane mr-2"></i>Enviar</button>
                                        <button type="button" class="btn waves-effect waves-light btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-2"></i>Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hacerPonente" class="modal">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row">
                        <!--titulo-->
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                            <h3>Convertir en <span class="small">Ponente</span></h3>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <!--contenido-->
                        <div class="col-md-12">
                            <form action="../CambiarRol/" method="POST">
                                <div class="row">
                                    <div class="col-md-12 text-center mt-3">
                                        <h3 class="font-light mb-4">¿Estas seguro de querer convertir a este usuario en ponente?</h3>
                                        <input type="hidden" name="idUsuario" value="{{datos.idUsuario}}">
                                        <input type="hidden" name="rolUsuario" value="Ponente">
                                        <button type="submit" class="btn waves-effect waves-light btn-danger"><i class="fas fa-check mr-2"></i>Si, continuar</button>
                                        <button type="button" class="btn waves-effect waves-light btn-info" data-dismiss="modal"><i class="fas fa-times mr-2"></i>No, cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="desactivarUsuario" class="modal">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row ">
                        <!--titulo-->
                        <div class="col-md-1"></div>
                        <div class="col-md-10  text-center">
                            <h3>Desactivar <span class="small">Usuario</span></h3>
                        </div>
                        <div class="col-md-1 text-right">
                            <button type="button" class="close text-white" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <!--contenido-->
                        <div class="col-md-12">
                            <form action="../estadoUsuario/{{datos.idUsuario}}/0" method="post">
                                <div class="row">
                                    <div class="col-md-12 text-center mt-3">
                                        <h3 class="font-light mb-4">Este usuario perderá el acceso al sistema, ¿Deseas continuar?</h3>
                                        <button type="submit" class="btn waves-effect waves-light btn-danger"><i class="fas fa-check mr-2"></i>Si, continuar</button>
                                        <button type="button" class="btn waves-effect waves-light btn-info" data-dismiss="modal"><i class="fas fa-times mr-2"></i>No, cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="activarUsuario" class="modal">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row ">
                        <!--titulo-->
                        <div class="col-md-1"></div>
                        <div class="col-md-10  text-center">
                            <h3>Activar <span class="small">Usuario</span></h3>
                        </div>
                        <div class="col-md-1 text-right">
                            <button type="button" class="close text-white" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <!--contenido-->
                        <div class="col-md-12">
                            <form action="../estadoUsuario/{{datos.idUsuario}}/1" method="post">
                                <div class="row">
                                    <div class="col-md-12 text-center mt-3">
                                        <h3 class="font-light mb-4">Este usuario obtendra acceso al sistema, ¿Deseas continuar?</h3>
                                        <button type="submit" class="btn waves-effect waves-light btn-danger"><i class="fas fa-check mr-2"></i>Si, continuar</button>
                                        <button type="button" class="btn waves-effect waves-light btn-info" data-dismiss="modal"><i class="fas fa-times mr-2"></i>No, cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- terminan modales-->
    <div class="row">
        <!--contenido principal-->
        <div class="col-md-12">
            <!--datos principales-->
            {{#datosAdministrador}}
            <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img src="../../assets/images/users/1.jpg" class="rounded-circle" width="180px" height="180px"/>
                            <h6 class="mt-2 font-medium">Foto de Perfil</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2 class="card-title mb-0">{{nombres}} {{pApellido}} {{sApellido}}
                                        {{#if estatus}}
                                        <span class="small"> (Activo)</span></h2>
                                        {{else}}
                                        <span class="small"> (Inactivo)</span></h2>
                                        {{/if}}
                                    <h4 class="font-light mt-0">{{colonia}}, {{calle}} Ext. #{{numeroExt}} {{#if numeroInt}}Int. #{{numeroInt}}{{/if}}
                                        {{municipioResidencia}}, {{estadoResidencia}}</h4>
                                </div>
                                <div class="col-md-2 text-right">
                                    <button type="button" class="btn btn-rounded btn-success" data-toggle="modal" data-target="#editarUsuario">
                                        <i class="fas fa-pencil-alt mr-2"></i>Editar</button>
                                </div>
                                <div class="col-md-12">
                                    <h4 class="mb-0"><i class="far fa-user mr-2"></i>Rol: <span class="font-weight-normal">{{tipo}}</span></h4>
                                    <h4 class="mb-0"><i class="far fa-square mr-2"></i>Area: <span class="font-weight-normal">{{area}}</span></h4>
                                    <h4 class="mb-0"><i class="fas fa-wrench mr-2"></i>Puesto: <span class="font-weight-normal">{{puesto}}</span></h4>
                                    <h4 class="mb-0"><i class="fas fa-at mr-2"></i>Contacto: <span class="font-weight-normal">{{correo}}</span></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right align-items-end mt-auto">
                                    <h4 class="mb-0"><i class="fas fa-key mr-2"></i>Matrícula: <span class="font-weight-normal">{{matricula}}</span></h4>
                                    <h4 class="mb-0"><i class="far fa-clock mr-2"></i>Antiguedad: <span class="font-weight-normal">{{antiguedad}}</span></h4>
                                    <h4 class="mb-0"><i class="far fa-address-card mr-2"></i>Tarjetón: <span class="font-weight-normal">
                                        {{#if tarjetonVerificado}}Verificado{{else}}No Verificado{{/if}}</span>
                                        <span class="small"><a href="#" class="btn  btn-rounded btn-sm btn-success small ml-1">
                                            <i class="fas fa-download mr-2"></i>Descargar</a></span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/datosAdministrador}}
        </div>
        <div class="col-md-4">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body text-center">
                    <img src="../../assets/images/logoTransparencia10.svg" width="150px" alt="logoDelSistema">
                    <h3 class="">¿Necesitas contactar al usuario?</h3>
                    <p class="font-20">Puedes enviarle un e-mail a nombre del sistema SNTSS Kaanbal.</p>
                    <button type="button" class="btn btn-rounded btn-dark" data-toggle="modal" data-target="#enviarEmail">
                        <i class="far fa-envelope mr-2"></i>Enviar E-mail</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body text-center">
                    <img src="../../assets/images/logoBienvenida.svg" width="150px" alt="logoDelSistema">
                    <h3>¿Deseas Modificar el Rol del Usuario?</h3>
                    <p class="font-18" style="text-align: justify;">El rol base de todos los usuarios es "Estudiante", puedes modificarlo para convertirlos en Ponentes o Administradores, asi mismo puedes regresarlos al rol base.</p>
                    <button type="button" class="btn btn-rounded btn-primary" data-toggle="modal" data-target="#hacerPonente">
                        <i class="fas fa-user-tie mr-2"></i>Hacer Ponente</button>
                </div>
            </div>
        </div>
        {{#ifEquals datos.activo "1"}}
        <div class="col-md-4">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body text-center">
                    <img src="../../assets/images/ojosTristes.svg" width="150px" alt="ojosTristes">
                    <h3>¿Deseas Desactivar este Usuario?</h3>
                    <p class="font-18" style="text-align: justify;">Esto no eliminará al usuario pero le negará el acceso al sistema, todos los datos relacionados a este usuario se conservarán.</p>
                    <button type="button" class="btn btn-rounded btn-danger mb-2" data-toggle="modal" data-target="#desactivarUsuario">
                        <i class="fas fa-user-times mr-2"></i>Desactivar Usuario</button>    
                </div>
            </div>
        </div>
        {{/ifEquals}}
        {{#ifEquals datos.activo "0"}}
        <div class="col-md-4">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body text-center">
                    <img src="../../assets/images/ojosTristes.svg" width="150px" alt="ojosTristes">
                    <h3>¿Deseas Activar este Usuario?</h3>
                    <p class="font-18" style="text-align: justify;">Esto permitira al usuario el acceso al sistema</p>
                    <button type="button" class="btn btn-rounded btn-info mb-2" data-toggle="modal" data-target="#activarUsuario">
                        <i class="fas fa-user-times mr-2"></i>Activar Usuario</button>    
                </div>
            </div>
        </div>
        {{/ifEquals}}
    </div>
</div>