<div class="container-fluid">
    <!--CONTENEDOR-->
    <div class="row">
        <div class="col-12 sm-12">
            <div class="card">
                <div class="card-body text-center">
                    <h1>Bienvenido<span class="small"></span></h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!--Titulo-->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form action="../editarUsuarios/{{idUsuario}}" method="POST">
                        <div class="row">
                            <div class="col-md-3 text-center justify-content-center no-block">
                                <img src="{{foto}}" width="150" class="rounded-circle"
                                    alt="user">
                                <h5 class="mt-3">Foto de Alumno</h5>                            
                            </div>
                            <div class="col-md-12 col-lg-9">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h1>Editar</h1>
                                    </div>
                                    <div class="col-md-12">
                                        <h3 class="font-medium mb-2">Datos Generales</h3>
                                        <hr>
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-4 mb-2">
                                        <h5 class="ml-1">Nombre(s)</h5>
                                        <input type="text" class="form-control"
                                            value="{{nombre}}" name="nombres" id="nombres"
                                            autocomplete="off" required>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-4 mb-2">
                                        <h5 class="ml-1">Primer Apellido</h5>
                                        <input type="text" class="form-control" value="{{apellidoPaterno}}"
                                            name="pApellido" id="pApellido" autocomplete="off" required>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-4 mb-2">
                                        <h5 class="ml-1">Segundo Apellido</h5>
                                        <input type="text" class="form-control"
                                            value="{{apellidoMaterno}}" name="sApellido" id="sApellido"
                                            autocomplete="off" required>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                                        <h5 class="ml-1">País de nacimiento</h5>
                                        <select class="select2 form-control custom-select" id="paisNacimientoID"
                                            name="paisNacimientoID" style="width: 100%; height:36px;" >
                                            <option selected value="{{idPais}}">{{paisNacimiento}}</option>
                                            {{#each paises}}
                                            <option value="{{idPais}}">{{nombrePais}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                                        <h5 class="ml-1">Municipio de nacimiento</h5>
                                        <select class="select2 form-control custom-select" id="municipioNacimientoID"
                                            name="municipioNacimientoID" style="width: 100%; height:36px;" >
                                            <option value="{{idMunicipio}}" selected>{{municipioNacimiento}}</option>
                                            {{#each municipios}}
                                            <option value="{{idMunicipio}}">{{nombreMunicipio}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-4 mb-2">
                                        <h5 class="ml-1">Fecha de nacimiento</h5>
                                        <input type="date" class="form-control" id="fechaNacimiento"
                                            name="fechaNacimiento" value="{{fechaNacimiento}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4><i class="fas fa-book text-left mr-2"></i>Domicilio</h4>
                            <hr>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                                <h5 class="ml-1">Municipio</h5>
                                <select class="select2 form-control custom-select" id="municipioResidenciaID"
                                    name="municipioResidenciaID" style="width: 100%; height:36px;" >
                                    <option selected value="{{idMunicipioResidencia}}">{{municipioResidencia}}</option>
                                    {{#each municipios}}
                                    <option value="{{idMunicipio}}">{{nombreMunicipio}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                                <h5 class="ml-1">Colonia</h5>
                                <input type="text" class="form-control" value="{{colonia}}" id="colonia" name="colonia" autocomplete="off"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                                <h5 class="ml-1">Calle</h5>
                                <input type="text" class="form-control" value="{{calle}}" id="calle" name="calle" autocomplete="off"
                                    required>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-2">
                                <h5 class="ml-1">Número Exterior</h5>
                                <input type="number" class="form-control" value="{{numeroExterior}}" id="numeroExt" name="numeroExt"
                                    autocomplete="off" required>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-2">
                                <h5 class="ml-1">Número Interior</h5>
                                <input type="number" class="form-control" value="{{numeroInterior}}" id="numeroInt" name="numeroInt"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4><i class="fas fa-book text-left mr-2"></i>Datos Laborales</h4>
                            <hr>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                                <h5 class="ml-1">Matrícula</h5>
                                <input type="text" class="form-control" value="{{matriculaUsuario}}"
                                    id="matricula" name="matricula" autocomplete="off" required>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                                <h5 class="ml-1">Fecha de inicio de labores</h5>
                                <input type="date" class="form-control" value="{{fechaInicioLabores}}" id="antiguedad" name="antiguedad"
                                    autocomplete="off" >
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-2">
                                <h5 class="ml-1">Puesto</h5>
                                <select class="select2 form-control custom-select" id="puesto" name="puesto"
                                    style="width: 100%; height:36px;" >
                                    <option selected value="{{idPuesto}}">{{puesto}}</option>
                                    {{#each puestos}}
                                    <option value="{{nombrePuesto}}">{{nombrePuesto}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-2">
                                <h5 class="ml-1">Área</h5>
                                <select class="select2 form-control custom-select" id="area" name="area"
                                    style="width: 100%; height: 30px;">
                                    <option selected value="{{idArea}}">{{area}}</option>
                                    <option value="1">Medica</option>
                                    <option value="2">Administrativa</option>
                                    <option value="3">Desarrollo personal</option>
                                    <option value="4">Escuela Sindical</option>
                                </select>
                            </div>
                            {{#ifEquals activo "1"}}
                            <div class="col-sm-6">
                                <div class="col-12 bt-switch">
                                    <h5 class="ml-1">Estado</h5>
                                    <div class="mb-4">
                                        <input id="activo" name="activo" type="checkbox" checked data-on-color="success" data-off-color="danger"
                                            data-on-text="Activo" data-off-text="Deshabilitado">
                                    </div>
                                </div>
                            </div>
                            {{/ifEquals}}
                            {{#ifEquals activo "0"}}
                            <div class="col-sm-6">
                                <div class="col-12 bt-switch">
                                    <h5 class="ml-1">Estado</h5>
                                    <div class="mb-4">
                                        <input id="activo" name="activo" type="checkbox" data-on-color="success" data-off-color="danger"
                                            data-on-text="Activo" data-off-text="Deshabilitado">
                                    </div>
                                </div>
                            </div>
                            {{/ifEquals}}
                        </div>
                        <div class="form-group mt-4">
                            <div class="col mb-2 mt-3 text-right">
                                <hr>
                                <button type="submit" class="btn waves-effect waves-light btn-success"><i
                                        class="fas fa-save mr-2"></i>Guardar</button>
                                <a type="button" class="btn waves-effect waves-light btn-info"
                                    href="../administrador/d2_administrarCursos.hbs"><i class="fas fa-times mr-2"></i>Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>