<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(../../assets/images/background/kaanbalInicioGDL-fish.jpg) no-repeat center center;"> <!--   -->
    <div class="auth-box on-sidebar" style="background-color: #f4f4f7e5">
        {{!-- modales --}}
        <div id="recuperarContrasenia" class="modal">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 10px">
                    <div class="card-body">
                        <div class="row">
                            <!--titulo-->
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-center">
                                <h3>Recuperar <span class="small">Contraseña</span></h3>
                            </div>
                            <div class="col-md-3 text-right">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×</button>
                            </div>
                            <!--contenido-->
                            <div class="col-md-12 text-center">
                                <form action="/recuperarContrasenia" method="post">
                                    <h4 class="mb-0 font-medium mt-2"><i class="far fa-envelope mr-2"></i>Ingresa tú Correo Electrónico <span class="text-danger">*</span></h4>
                                    <input type="email" name="email" class="form-control"
                                        data-validation-required-message="Debes llenar este campo"
                                        aria-invalid="false" required>
                                    <button type="submit" class="btn btn-warning waves-effect text-left mt-3"><i class="fas fa-paper-plane mr-2"></i>Recuperar Contraseña</button>
                                    <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal"> <i class="fas fa-times mr-2"></i>Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="registrarse" class="modal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" style="border-radius: 10px">
                    <div class="card-body wizard-content">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-center">
                                <h1>Registro <span class="small">SNTSS Kaanbal</span></h1>
                            </div>
                            <div class="col-md-3 text-right">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×</button>
                            </div>
                        </div>
                        <form action="agregarUsuario" method="post" enctype="multipart/form-data" class="validation-wizard wizard-circle m-t-40">
                            <!-- Step 1 -->
                            <h6>Datos Generales</h6>
                            <section>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Correo Electrónico<span class="text-danger">*</span></h5>
                                        <input type="email" class="form-control" placeholder="Ingrese su correo" id="correo" name="correo" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Contraseña<span class="text-danger">*</span></h5>
                                        <input type="password" class="form-control" placeholder="Elige un contraseña" id="password" name="password" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Confirmar Contraseña<span class="text-danger">*</span></h5>
                                        <input type="password" class="form-control" placeholder="Confirma tu contraseña" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Nombre(s)<span class="text-danger">*</span></h5>
                                        <input type="text" class="form-control" placeholder="Ingrese el nombre(s) del usuario" name="nombres" id="nombres" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Primer Apellido<span class="text-danger">*</span></h5>
                                        <input type="text" class="form-control" placeholder="Ingrese su primer apellido" name="pApellido" id="pApellido" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Segundo Apellido<span class="text-danger">*</span></h5>
                                        <input type="text" class="form-control" placeholder="Ingrese el segundo apellido" name="sApellido" id="sApellido" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">País de Nacimiento<span class="text-danger">*</span></h5>
                                        <select class="select form-control custom-select" id="paisNacimientoID" name="paisNacimientoID" style="width: 100%; height:36px;" required>
                                            <option selected> Selecione su país de nacimiento</option>
                                            {{#each paises}}
                                            <option value="{{idPais}}">{{nombrePais}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Municipio de Nacimiento<span class="text-danger">*</span></h5>
                                        <select class="select form-control custom-select"  id="municipioNacimientoID" name="municipioNacimientoID" style="width: 100%; height:36px;" required>
                                            <option value="null" selected> Selecione su municipio de nacimiento</option>
                                            {{#each municipios}}
                                            <option value="{{idMunicipio}}">{{nombreMunicipio}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Fecha de Nacimiento<span class="text-danger">*</span></h5>
                                        <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento">
                                    </div>
                                </div>
                            </section>
                            <!-- Step 2 -->
                            <h6>Domicilio</h6>
                            <section>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Municipio<span class="text-danger">*</span></h5>
                                        <select class="select form-control custom-select" id="municipioResidenciaID" name="municipioResidenciaID" style="width: 100%; height:36px;" required>
                                            <option disabled selected>Selecione su municipio de recidencia</option>
                                            {{#each municipios}}
                                            <option value="{{idMunicipio}}">{{nombreMunicipio}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Colonia<span class="text-danger">*</span></h5>
                                        <input type="text" class="form-control" id="colonia" name="colonia" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Calle<span class="text-danger">*</span></h5>
                                        <input type="text" class="form-control" placeholder="Ingresa la calle de tu domicilio" id="calle" name="calle" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Número Exterior<span class="text-danger">*</span></h5>
                                        <input type="number" class="form-control" placeholder="Ingresa el numero exterior de tu domicilio" id="numeroExt" name="numeroExt" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Número Interior</h5>
                                        <input type="number" class="form-control" placeholder="Ingresa el numero interior de tu domicilio" id="numeroInt" name="numeroInt" autocomplete="off">
                                    </div>
                                </div>
                            </section>
                            <!-- Step 3 -->
                            <h6>Datos Laborales</h6>
                            <section>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Matrícula<span class="text-danger">*</span></h5>
                                        <input type="text" class="form-control" placeholder="Ingresa tu matricula" id="matricula" name="matricula" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Fecha de Inicio de Labores<span class="text-danger">*</span></h5>
                                        <input type="date" class="form-control" id="antiguedad" name="antiguedad" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Puesto<span class="text-danger">*</span></h5>
                                        <select class="select form-control custom-select" id="puesto" name="puesto" style="width: 100%; height:36px;" required>
                                            <option disabled selected>Selecione su puesto</option>
                                            {{#each puestos}}
                                            <option value="{{idPuesto}}">{{nombrePuesto}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Área<span class="text-danger">*</span></h5>
                                        <select class="select form-control custom-select" id="area" name="area" style="width: 100%; height: 30px;">
                                            <option disabled selected>Selecione su área</option>
                                            {{#each areas}}
                                            <option value="{{idArea}}">{{nombreArea}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Foto de Perfil<span class="text-danger">*</span></h5>
                                        <input type="file" class="form-control-file" name="fotoUsuario" id="fotoUsuario"/>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="mb-0 font-medium mt-3">Tarjetón en PDF<span class="text-danger">*</span></h5>
                                        <input type="file" class="form-control-file" name="tarjetonUsuario" id="tarjetonUsuario" required/>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{!-- terminan modales --}}
        <div id="loginform">
            <div class="logo mt-5">
                <h1 class="card-title">Bienvenido <br><span class="small">Escuela Sindical SNTSS</span></h1>
                <img src="../../assets/images/kaanbalLogoInicio.svg" alt="logo" width="300px"/>
            </div>
            <!-- Form -->
            <form class="form-horizontal mt-3" action="/login" method="post">
                <div class="input-group mt-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="ti-email"></i></span>
                    </div>
                    <input type="email" class="form-control form-control-lg" name="username" id="username"
                        alt="Ingrese su correo" placeholder="Ingrese su correo" aria-label="Correo"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                    </div>
                    <input type="password" class="form-control form-control-lg" name="password" id="password"
                        alt="Ingrese su contraseña" placeholder="Ingrese su contraseña" aria-label="Contraseña"
                        aria-describedby="basic-addon1">
                </div>
                <div class="form-group text-center mt-1">
                    <p>¿Olvidaste tu Contraseña? <a href="#" class="ml-1" style="color: #414755;"
                            data-toggle="modal" data-target="#recuperarContrasenia"><b>Recuperar
                                Contraseña</b></a></p>
                    <div class="col-xs-12 mt-3">
                        <button class="btn btn-block btn-lg btn-warning font-weight-bold" type="submit"><i class="fas fa-sign-in-alt mr-2"></i>Entrar</button>
                    </div>
                </div>
                <div class="form-group mb-0 mt-2">
                    <div class="col-sm-12 text-center">
                        ¿No tienes cuenta? <a href="#" class="text-dark ml-1" style="color: #414755;"
                            data-toggle="modal" data-target="#registrarse"><b>Registrarse</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>