<div class="container-fluid">
    <!-- modales -->
    <div id="cambiarCorreo" class="modal">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row">
                        <!--titulo-->
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <h3>Cambiar <span class="small">Correo Electrónico</span></h3>
                        </div>
                        <div class="col-md-1 text-right">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <!--contenido-->
                        <div class="col-md-12">
                            <form action="/cambiarCorreoElectronico" method="get">
                                <div class="row">
                                    <div class="col-md-12 text-center mt-3">
                                        <p class="font-18 mb-4">Enviaremos un código de confirmación a tu dirección de correo actual, ¿Deseas continuar?</p>
                                        <button type="submit" class="btn waves-effect waves-light btn-danger"><i class="fas fa-check mr-2"></i>Si, continuar</button>
                                        <button type="button" class="btn waves-effect waves-light btn-info" data-dismiss="modal"><i class="fas fa-times mr-2"></i>No, cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cambiarContrasenia" class="modal">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row">
                        <!--titulo-->
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <h3>Cambiar <span class="small">Contraseña</span></h3>
                        </div>
                        <div class="col-md-1 text-right">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <!--contenido-->
                        <div class="col-md-12">
                            <form action="/reestablecerContrasenia" method="get">
                                <div class="row">
                                    <div class="col-md-12 text-center mt-3">
                                        <p class="font-18 mb-4">Cambiar tu contraseña recularmente ayuda a mantener segura tu cuenta, ¿Deseas continuar?</p>
                                        <button type="submit" class="btn waves-effect waves-light btn-danger"><i class="fas fa-check mr-2"></i>Si, continuar</button>
                                        <button type="button" class="btn waves-effect waves-light btn-info" data-dismiss="modal"><i class="fas fa-times mr-2"></i>No, cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cambiarImagen" class="modal">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row">
                        <!--titulo-->
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <h3>Cambiar <span class="small">Imagen</span></h3>
                        </div>
                        <div class="col-md-1 text-right">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <!--contenido-->
                        <div class="col-md-12">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p class="font-18 mb-2">Sube la nueva imagen para tu perfil.</p>
                                        <input type="file" name="multimediaTarea" id="multimediaTarea" multiple="">
                                    </div>
                                    <div class="col-md-12 text-center mt-4">
                                        <button type="submit" class="btn waves-effect waves-light btn-info"><i class="fas fa-save mr-2"></i>Guardar</button>
                                        <button type="button" class="btn waves-effect waves-light btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-2"></i>Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- terminan modales -->
    <div class="row">
        <!--contenido principal-->
        <div class="col-md-12">
            <!--datos principales-->
            <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                    {{#miPerfil}}
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img src="../../assets/multimedia/usuarios/{{idUsuario}}/{{fotoURL}}" class="rounded-circle" width="180px" height="180px"/>
                            <h6 class="mt-2 font-medium">Foto de Perfil</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="card-title mb-0">{{nombres}} {{pApellido}} {{sApellido}}
                                        <span class="small"> ({{estatus}})</span></h2>
                                    <h4 class="font-light mt-0">{{colonia}}, {{calle}} Ext. #{{numeroExt}} {{#if numeroInt}} Int. #{{numeroInt}}. {{/if}} {{municipioResidencia}} {{estadoResidencia}}, {{paisNacimiento}}.</h4>
                                </div>
                                <div class="col-md-12">
                                    <h4 class="mb-0"><i class="far fa-user mr-2"></i>Rol: <span class="font-weight-normal">{{tipo}}</span></h4>
                                    <h4 class="mb-0"><i class="far fa-square mr-2"></i>Area: <span class="font-weight-normal">{{area}}</span></h4>
                                    <h4 class="mb-0"><i class="fas fa-wrench mr-2"></i>Puesto: <span class="font-weight-normal">{{puesto}}</span></h4>
                                    <h4 class="mb-0"><i class="fas fa-at mr-2"></i>Contacto: <span class="font-weight-normal">{{correo}}</span></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right align-items-end mt-auto">
                                    <h4 class="mb-0"><i class="fas fa-key mr-2"></i>Matrícula: <span class="font-weight-normal">{{matricula}}</span></h4>
                                    <h4 class="mb-0"><i class="far fa-clock mr-2"></i>Antiguedad: <span class="font-weight-normal">{{antiguedad}}</span></h4>
                                    <h4 class="mb-0"><i class="far fa-address-card mr-2"></i>Tarjetón: <span class="font-weight-normal"></span>
                                        <span class="small"><a href="#" class="btn  btn-rounded btn-sm btn-success small ml-1">
                                            <i class="fas fa-download mr-2"></i>Descargar</a></span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/miPerfil}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body text-center">
                    <h3 class="">Cambiar Imagen de Perfil</h3>
                    <p class="font-20">Esta imagen se muestra a los estudiantes, ponentes y administradores al consultar tu perfil.</p>
                    <button type="button" class="btn btn-rounded btn-primary" data-toggle="modal" data-target="#cambiarImagen">
                        <i class="fas fa-image mr-2"></i>Cambiar Imagen</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body text-center">
                    <h3 class="">Cambiar Correo Electrónico</h3>
                    <p class="font-20">Puedes cambiar la dirección de correo con la que accedes al sistema en todo momento.</p>
                    <button type="button" class="btn btn-rounded btn-warning" data-toggle="modal" data-target="#cambiarCorreo">
                        <i class="far fa-envelope mr-2"></i>Cambiar Correo</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body text-center">
                    <h3 class="">Cambiar Contraseña</h3>
                    <p class="font-20">Recuerda cambiar tu contraseña con regularidad para mantener la seguridad de tu cuenta.</p>
                    <button type="button" class="btn btn-rounded btn-info" data-toggle="modal" data-target="#cambiarContrasenia">
                        <i class="fas fa-key mr-2"></i>Cambiar Contraseña</button>
                </div>
            </div>
        </div>
    </div>
</div>